<section class="content" ng-init="DashUserCtrl.init()">
    <div class="row">
        <div class="col-xs-12" style=" ">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a ng-target="#1b" data-toggle="tab">Car Selection (CSF)</a>
                        </li>
                        <li>
                            <a ng-target="#2b" data-toggle="tab">Temporary Form</a>
                        </li>
                        <li>
                            <a ng-target="#3b" data-toggle="tab">Car Relocation (CRF)</a>
                        </li>
                        <li>
                            <a ng-target="#4b" data-toggle="tab">Car Termination (CTF)</a>
                        </li>
                        <li>
                            <a href="#5b" data-toggle="tab">Car Accident (CAF)</a>
                        </li>
                        <li>
                            <a href="#4b" data-toggle="tab">Car Complaint (CCF)</a>
                        </li>
                    </ul>

                    <div class="tab-content clearfix">
                        <div class="tab-pane active" id="1b" style="margin-top: 50px">
                            <div class="box-body">
                                <div class="control-group" id="fields">
                                    <h3 style="text-align: center; margin-bottom: 20px">Car Selection Form List</h3>
                                    <table datatable="ng" id="example2" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Request Number</th>
                                                <th>Effective Date</th>
                                                <th>Employee Name</th>
                                                <th>Form Status</th>
                                                <th>Last Update Date</th>
                                                <th>Last Update By</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="csf in DashUserCtrl.dataCSF">
                                                <td ng-click="DashUserCtrl.go(csf.request_number)">{{$index+1}}</td>
                                                <td ng-show="csf.csf_statis_id==4"></td>
                                                <td ng-show="csf.csf_statis_id!=4">{{csf.request_number}}</td>
                                                <td>{{DashUserCtrl.dateFormat(csf.effective_date)}}</td>
                                                <td>{{csf.employee_name}}</td>
                                                <td>{{csf.csf_status_id}}</td>
                                                <td>{{DashUserCtrl.dateFormat(csf.last_modified)}}</td>
                                                <td>{{csf.modified_by}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>-->
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="2b" style="margin-top: 50px">
                            <div class="box-body">
                                <div class="control-group" id="fields">
                                    <h3 style="text-align: center; margin-bottom: 20px">Temporary Form List</h3>
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Request Number</th>
                                                <th>Form Status</th>
                                                <th>Last Update Date</th>
                                                <th>Last Update By</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="3b" style="margin-top: 50px">
                            <div class="box-body">
                                <div class="control-group" id="fields">
                                    <h3 style="text-align: center; margin-bottom: 20px">Car Relocation Form List</h3>
                                    <table id="example3" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Request Number</th>
                                                <th>Form Status</th>
                                                <th>Last Update Date</th>
                                                <th>Last Update By</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>CRF/2016/08/11</td>
                                                <td>Submitted</td>
                                                <td>11-Aug-2016</td>
                                                <td>Nana, Amalia</td>
                                            </tr>
                                            <tr>
                                                <td>CRF/2017/03/21</td>
                                                <td>Approved</td>
                                                <td>11-Mar-2017</td>
                                                <td>Christianty, Happy</td>
                                            </tr>
                                            <tr>
                                                <td>CRF/2016/08/11</td>
                                                <td>Submitted</td>
                                                <td>11-Aug-2016</td>
                                                <td>Nana, Amalia</td>
                                            </tr>
                                            <tr>
                                                <td>CRF/2016/07/181</td>
                                                <td>Completed</td>
                                                <td>11-Aug-2016</td>
                                                <td>Christianty, Happy</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="4b" style="margin-top: 50px">
                            <div class="box-body">
                                <div class="control-group" id="fields">
                                    <h3 style="text-align: center; margin-bottom: 20px">Car Termination Form List</h3>
                                    <table id="example4" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Request Number</th>
                                                <th>Form Status</th>
                                                <th>Last Update Date</th>
                                                <th>Last Update By</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="5b" style="margin-top: 50px">
                            <div class="box-body">
                                <div class="control-group" id="fields">
                                    <h3 style="text-align: center; margin-bottom: 20px">Car Accident Form List</h3>
                                    <table id="example5" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Request Number</th>
                                                <th>Form Status</th>
                                                <th>Last Update Date</th>
                                                <th>Last Update By</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>CAF/2017/01/112</td>
                                                <td>In-Progress</td>
                                                <td>08-Jan-2017</td>
                                                <td>Christianty, Happy</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="6b" style="margin-top: 50px">
                            <div class="box-body">
                                <div class="control-group" id="fields">
                                    <h3 style="text-align: center; margin-bottom: 20px">Car Complaint Form List</h3>
                                    <table id="example6" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Request Number</th>
                                                <th>Form Status</th>
                                                <th>Last Update Date</th>
                                                <th>Last Update By</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>CCF/2017/01/112</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
