<section class="content" ng-init="initilize()">
     <ol class="breadcrumb">
       <li><a href="#/home-admin" >Home</a></li>
        <li><a class="active" >Reset Password Rekanan</a></li>
    </ol>
    <div class="row" >
        <div class="col-md-11 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box box-info">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center afta-font" style="padding-bottom: 20px;">Permintaan Reset Password</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sd-4 col-md-7">
                            <div ng-show="totalRecords>10">
                                <pagination boundary-links="true" total-items="totalRecords"
                                            page="currentPage" max-size="fullSize"
                                            items-per-page="10"
                                            previous-text="&lsaquo;"
                                            next-text="&rsaquo;"
                                            first-text="&laquo;" last-text="&raquo;"
                                            on-select-page="changepage(page)" ng-show="totalRecords>10">
                                </pagination>
                            </div>                  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive" style="padding-bottom: 20px;">
                                <!-- DARI HENDRA -->
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center" width="20px">No.</th>
                                            <th class="text-center">Username</th>
                                            <th class="text-center">Nama Perusahaan</th>
                                            <!--<th class="text-center" style="width: 300px; min-width: 300px;">Email</th>-->
                                            <th class="text-center" style="width: 300px; min-width: 300px;">Keterangan</th>
                                            <th class="text-center" style="width: 140px; min-width: 140px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="obj in data">
                                            <td style="vertical-align: middle;">{{currentPage > 1 ? (fullSize * (currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td  style="vertical-align: middle;">{{obj.nama_user}}</td>
                                            <td  style="vertical-align: middle;">{{obj.nama_perusahaan}}</td>
                                            <!--<td class="text-center" style="vertical-align: middle;">{{obj.email}}</td>-->
                                            <td  style="vertical-align: middle;">{{obj.keterangan}}</td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <a ng-if="obj.approved === null" ng-click="ubah(obj)" class="btn btn-flat btn-sm btn-primary" title="Reset" >
                                                    <i class="fa fa-retweet"></i>&nbsp; </a>
                                                <a ng-if="obj.approved === null" title="Hapus" ng-click="hapusrequest(obj)" class="btn btn-flat btn-sm btn-danger"  >
                                                    <i class="fa fa-trash-o"></i>&nbsp; </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br/><br/><br/><br/>
                    </div>
                    
                    <div class="row">
                        <div class="col-sd-4 col-md-7">
                                <pagination boundary-links="true" total-items="totalRecords"
                                            page="currentPage" max-size="fullSize"
                                            items-per-page="10"
                                            previous-text="&lsaquo;"
                                            next-text="&rsaquo;"
                                            first-text="&laquo;" last-text="&raquo;"
                                            on-select-page="changepage(page)" ng-show="totalRecords>10">
                                </pagination>
                                <br /><label>Total Data : {{totalRecords}}</label>
                        </div>
                    </div>
                    
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">
                            <div class="center-block text-center">
                                <div class="btn-panel" style="background: none;">
                                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>