@model FMS.Website.Models.FleetModel

<input type="hidden" id="returnTotalData" value="@Model.TotalData" />
<input type="hidden" id="returnTotalPerPage" value="@Model.TotalDataPerPage" />
<input type="hidden" id="returnCurrentPage" value="@Model.CurrentPage" />
<table id="tbFleet" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Police Number</th>
            <th>Chasis Number</th>
            <th>Engine Number</th>
            <th style="min-width: 200px">Employee Name</th>
            <th>Employee ID</th>
            <th>Cost Center</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th style="min-width: 200px">Series</th>
            <th>Transmission</th>
            <th>Body Type</th>
            <th>Fuel Type</th>
            <th>Branding</th>
            <th>Color</th>
            <th>Airbag</th>
            <th>Request Year</th>
            <th>Vehicle Type</th>
            <th>Vehicle Usage</th>
            <th>Project</th>
            <th>Project Name</th>
            <th style="min-width: 100px">Start Contract</th>
            <th style="min-width: 100px">End Contract</th>
            <th>Vendor Name</th>
            <th>Basetown</th>
            <th>Supply Method</th>
            <th>Restitution</th>
            <th>Monthly HMS Installment</th>
            <th>Vat</th>
            <th>PO Number</th>
            <th>PO Line</th>
            <th>Car Group Level</th>
            <th>Employee Group Level</th>
            <th>Assigned To</th>
            <th style="min-width: 350px">Address</th>
            <th style="min-width: 100px">Start Date</th>
            <th style="min-width: 100px">End Date</th>
            <th>Vehicle Status</th>
            <th>Certificate of Ownership</th>
            <th>Comments</th>
            <th>Assets</th>
            <th>Total Monthly Charge</th>
            <th>Function</th>
            <th>Regional</th>
        </tr>
    </thead>
</table>