@using FMS.Core;
@model FMS.Website.Models.VehicleOverallItem

<div class="opt-content clearfloat">
    <h5 class="title-page">Vehicles Report Details</h5>
    <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
        <i class="fa fa-download"></i> Export
    </a>
</div>
<section class="content">
    <div class="wpanel">
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active" id="DetailsParent" data-toggle="tab"><a href="#Details" aria-controls="History" role="tab" data-toggle="tab">Details Info</a></li>
                <li role="presentation"  id="HistoryParent"  data-toggle="tab"><a href="#History"  aria-controls="Details"  role="tab" data-toggle="tab">Vehicle History</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Details">
                    <div class="tab-wrapper">
                        @Html.Partial("_DetailsInfo")
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="History">
                    <div class="tab-wrapper">
                       @Html.Partial("_DetailsHistory")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/VehicleOverall.js"></script>
<script type="text/javascript">
    function ExportXls() {
        $('#SearchViewExport_FromDate').val($('#SearchView_FromDate').val());
        $('#SearchViewExport_ToDate').val($('#SearchView_ToDate').val());

        $('#ExportToXls').submit();
    }

    function setupDataTables() {
        // DataTable
        var table = $('#tbVehicleHistory').DataTable({
            "sDom": 'lf<"table-overflow"t>pi',
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "info": false,
            "bInfo": false,
            "ordering": false
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
    }

    //$(document).on('click', '#btn-reset', function () {
    //    var todayDate = new Date();
    //    $('#SearchView_FromDate').val('');
    //    $('#SearchView_ToDate').val('');

    //    $("#btn-filter").trigger('click');
    //});

    $(function () {
        setupDataTables();
    });
</script>