@model FMS.Website.Models.BaseModel

    <div class="tab-wrapper">
        <div class="panel panel-default">
            <div id="headingFive" role="tab" class="panel-heading">
                <h4 class="panel-title">
                    <a aria-controls="collapseFive" aria-expanded="true" href="#collapseFive" data-parent="#accordion" data-toggle="collapse">
                        Change Logs
                        <i class="fa fa-caret-down"></i>
                    </a>
                </h4>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div aria-labelledby="headingFive" role="tabpanel" class="panel-collapse collapse show" id="collapseFive">
                <div class="panel-body">
                    <div role="form" class="form-excise">
                        <div class="col-md-12">
                            <table id=" log" class="table table-bordered table-hover" style="table-layout: fixed;">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>User</th>
                                        <th>Role</th>
                                        <th>Action</th>
                                        
                                        
                                    </tr>
                                </thead>
                                <tbody >
                                    @foreach (var data in Model.ChangesLogs)
                                    {
                                        <tr>
                                            <td>@Html.Raw(data.ActionDate.ToString("dd-MMM-yyyy HH:mm:ss"))</td>
                                            <td>@Html.Raw(data.UserName)</td>
                                            <td>@Html.Raw(data.Role)</td>
                                            <td>@Html.Raw(data.Action)</td>
                                            
                                            
                                        </tr>
                                    }
                                    
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>


                <div class="box-footer"></div>
            </div>
        </div>

    </div>
