<table id="tbChangeHistory" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Account Name</th>
            <th>Role</th>
            <th>Action</th>
            <th>Date</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>