@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error - Unauthorized";
}

<h1 class="text-danger">Error - 401</h1>
<h2 class="text-danger">You are not allowed to access this page!</h2>


