<div class="modal-content" ng-init="SummaryBarangCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="SummaryBarangCtrl.batal()"><span aria-hidden="true" title="Keluar">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font">Form Summary Negosiasi Online</h3>
    </div>
    <div class="modal-body">
        <form role="form" name="formAdd">
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="table table-responsive">
                    <table class="table table-bordered table-striped" id="tabelPesertaNegosiasi">
                        <thead>
                            <tr>
                                <th class="text-center" width="20px">No.</th>
                                <th class="text-center">Nama Rekanan</th>
                                <th class="text-center">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pnb in SummaryBarangCtrl.nb">
                                <td class="text-center" style="vertical-align: middle;">{{$index + 1}}</td>
                                <td class="text-center" style="vertical-align: middle;">{{pnb.VendorName}}</td>
                                <td class="text-center" style="vertical-align: middle;">
                                    <input type="checkbox" ng-model="pnb.IsDeal"> Sepakat
                                </td>
                            </tr>
                            <tr ng-if="SummaryBarangCtrl.nb.length === 0"><td colspan="6">Data Tidak Ada</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
       </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="SummaryBarangCtrl.batal()" title="Batal"><i class="fa fa-reply"></i>&nbsp;</button>
        <button type="button" class="btn btn-flat btn-success" ng-click="SummaryBarangCtrl.simpan()" title="Kirim Tanggapan"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</div>