<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" ng-if="hrMenuCtrl.roles =='SYSTEM.ROLE_USER'">
            <li class="header">USER NAVIGATION</li>
            <li class="active treeview">
                <a ng-href="#/csf-dashboard">
                    <i class="fa fa-home"></i> <span>Personal </span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li class="treeview">
                <a>
                    <i class="fa fa-dashboard"></i> <span>Car Complaint Form</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
        </ul>
    </section>
</aside>
