<div class="modal-content"  style="width:1000px!important;">
    <div class="modal-header">
        <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true" title="Keluar">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">Detail Contract</h3>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Project Tile</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control input-sm" value="Tender Jasa Konsultan A" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Contract Sponsor</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control input-sm" value="Yanuar Situmorang" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Project Manager</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control input-sm" value="Moch. Yudi  " />
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-12" >
                    <div class="form-group">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">No</th>
                                        <th class="text-center">Nama Form</th>
                                        <th class="text-center">Detail Form</th>
                                        <th class="text-center">Keterangan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in formList">
                                        <td class="text-center">{{$index+1}}</td>
                                        <td>{{dt.nama_form}}</td>
                                        <td class="text-center">
                                            <a href="">Detail</a>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-sm btn-success" title="Reviewed"><i class="fa fa-check-square"></i> </button>
                <button class="btn btn-sm btn-warning" title="Uncomplete"><i class="fa fa-angle-left"></i> </button>
            </div>
        </div>
    </div>
</div>