@model FMS.Website.Models.TraCrfItemViewModel
<div class="panel panel-default">
    <div id="headingTwo" role="tab" class="panel-heading">
        <h4 class="panel-title">
            <a aria-controls="collapseTwo" aria-expanded="true" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse">
                Relocated Vehicle Info
                <i class="fa fa-caret-down"></i>
            </a>
        </h4>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse show" id="collapseTwo">
        <div class="panel-body">
            <div role="form" class="form-excise">
                <div class="col-md-12">
                    <div class="box-tools pull-right" style="margin-top:-50px">
                        <h4>
                            <label for="" class="control-label">Status:</label>
                            <label class="control-label">Draft</label>
                        </h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Temporary car </h5>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Vtype" class="control-label">Temporary Car Deliverable Date</label>
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar">
                            </i>
                        </div>
                        <input class="form-control pull-right" id="datepicker" type="text" uib-datepicker-popup="dd-MMM-yyyy" close-text="Tutup" is-open="isCalendarOpened[2]" ng-model="deliverable_date" ng-click="openCalendar(2)" ng-disabled="empID!=employee_id||crf.crf_status>5&&crf.crf_status!=8">
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="" class="control-label">Relocation Type</label>
                </div>
                <div class="col-md-8" ng-init="getFleet()">
                    <select class="form-control" ng-model="crf.relocation_type" ng-disabled="crf.fleetVehicleUsage!='CFM'||dataFleetCFM.length==0||empID!=employee_id||crf.crf_status>5&&crf.crf_status!=8">
                        <option ng-repeat="reason in reType" ng-if="reason.value!=crf.relocation_type">{{reason.value}}</option>
                        <option ng-repeat="reason in reType" ng-if="reason.value==crf.relocation_type">{{reason.value}}</option>
                    </select>
                </div>
            </div>
            <div class="box-body" ng-show="crf.fleetVehicleUsage!='CFM'">
                <div class="form-group">
                    <label for="" class="control-label">Change Police Number</label>
                </div>
                <div class="col-md-8">
                    <select class="form-control" ng-model="crf.change_police_number" ng-disabled="empID!=employee_id||crf.crf_status>5&&crf.crf_status!=8">
                        <option ng-repeat="data in dataIsChange" ng-if="data.is!=crf.change_police_number" value="{{data.value}}">{{data.name}}</option>
                        <option ng-repeat="data in dataIsChange" ng-if="data.is==crf.change_police_number" value="{{data.value}}" selected>{{data.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box-header with-border" ng-if="crf.relocation_type=='Change Unit'">
                <h3 class="box-title" style="margin-left: -10px">Vehicle</h3>
                <div class="pull-right" style="margin-right: 10px">
                    <button class="btn bg-blue" ng-click="selectVehicle()" ng-disabled="empID!=employee_id||crf.crf_status>5&&crf.crf_status!=8">
                        <i class="glyphicon glyphicon-check" id="myModalLabel"></i>  Select Vehicle
                    </button>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Police Number</th>
                        <th>Manufacturer</th>
                        <th>Model</th>
                        <th>Series</th>
                        <th>Body Type</th>
                        <th>Vendor</th>
                        <th>Start Period</th>
                        <th>End Period</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="vehicle in selectedVehicle">
                        <td>{{vehicle.policeNumber}}</td>
                        <td>{{vehicle.manufacturer}}</td>
                        <td>{{vehicle.model}}</td>
                        <td>{{vehicle.series}}</td>
                        <td>{{vehicle.body_type}}</td>
                        <td>{{vehicle.vendor}}</td>
                        <td>{{vehicle.startContract}}</td>
                        <td>{{vehicle.endContract}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div class="box-header with-border">
                <h3 class="box-title">Withdrawal Information</h3>

                <div class="box-body">
                    <div class="form-group">
                        <label for="Vtype" class="control-label">City*</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="crf.withd_city" ng-disabled="empID!=employee_id||crf.crf_status>5&&crf.crf_status!=8">
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="Vtype" class="control-label">Address*</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="crf.withd_address" ng-disabled="empID!=employee_id||crf.crf_status>5&&crf.crf_status!=8">
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="Vtype" class="control-label">PIC Name*</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="crf.withd_pic" ng-disabled="empID!=employee_id||crf.crf_status>5&&crf.crf_status!=8">
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="Vtype" class="control-label">PIC Phone*</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="crf.withd_phone" ui-mask="(+62)999-9999-9999" ui-options="{clearOnBlur: false,allowInvalidValue:true}" ng-disabled="empID!=employee_id||crf.crf_status>5&&crf.crf_status!=8">
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="Vtype" class="control-label">Date/Time*</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar">
                                </i>
                            </div>
                            <input class="form-control pull-right" id="datepicker" size="16" type="text" uib-datepicker-popup="dd-MMM-yyyy" close-text="Tutup" is-open="isCalendarOpened[3]" ng-model="date" ng-click="openCalendar(3)" ng-disabled="empID!=employee_id||crf.crf_status>5&&crf.crf_status!=8">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box-header with-border">
                <h3 class="box-title">Deliverable Information</h3>
            </div>

            <div class="box-body">
                <div class="form-group">
                    <label for="Vtype" class="control-label">City*</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="crf.deliv_city" ng-disabled="empID!=employee_id||crf.crf_status>5&&crf.crf_status!=8">
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="Vtype" class="control-label">Address*</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="crf.deliv_address" ng-disabled="empID!=employee_id||crf.crf_status>5&&crf.crf_status!=8">
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="Vtype" class="control-label">PIC Name*</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="crf.deliv_pic" ng-disabled="empID!=employee_id||crf.crf_status>5&&crf.crf_status!=8">
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="Vtype" class="control-label">PIC Phone*</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="crf.deliv_phone" ui-mask="(+62)999-9999-9999" ui-options="{clearOnBlur: false,allowInvalidValue:true}" ng-disabled="empID!=employee_id||crf.crf_status>5&&crf.crf_status!=8">
                </div>
            </div>
        </div>
        <div class="box-footer"></div>
    </div>
</div>
