@model FMS.Website.Models.ArchiveModel

<table id="tbMasterArchive" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="min-width: 120px">
                <input type="checkbox" name="MasterCheckbox" id="MasterCheckbox" onclick="SelectAll()" />&nbsp;Select All
            </th>
            <th style="min-width: 200px;text-align:center">Table Master</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model.Details.Where(x => x.Type == "Master"))
        {
            <tr>
                <td><input type='checkbox' name='MasterArchive' value= @data.Id /></td>
                <td>@Html.Raw(data.Table)</td>
            </tr>
        }
    </tbody>
</table>