@using FMS.Core;
@model FMS.Website.Models.CsfItemViewModel

<div class="opt-content clearfloat">
    <h5 class="title-page">Car Selection</h5>
</div>
<section class="content">
    <div class="wpanel">
        @using (Html.BeginForm("Create", "TraCsf"))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Selection Car Form Info</h5>
                            <hr/>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Request Number<span class="red">*</span></label>
                                @Html.TextBoxFor(model => model.Detail.CsfNumber, new { @class = "form-control ", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Employee</h5>
                            <hr />
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Employee ID<span class="red">*</span></label>
                                @Html.TextBoxFor(model => model.Detail.EmployeeId, new { @class = "form-control", @readonly = "readonly", @id = "EmployeeID" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a href="@Url.Action("Index", "TraCsf")" class="btn btn-default">Back</a>
                </div>
            </div>
        }
    </div>
</section>
