<div class="modal-content" >
    <div class="modal-header">
        <button type="button" class="close" title="Keluar" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">Detail Kelengkapan Tender</h3>
    </div>
    <div class="modal-body">
        <div >
            <div class="row">
                <div class="col-md-12" >
                    <div class="form-group">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">Kode</th>
                                        <th class="text-center">Nama Form</th>
                                        <th class="text-center">Detail</th>
                                        <th class="text-center">Action</th>
                                        <th class="text-center">Keterangan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in formList">
                                        <td class="text-center">{{dt.kode}}</td>
                                        <td>{{dt.nama_form}}</td>
                                        <td class="text-center"><a href="">Detail</a></td>
                                        <td class="text-center" ><input type="checkbox" /></td>
                                        <td>{{dt.ket}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-sm btn-primary" ng-click="cancel()" title="Kembali"><i class="fa fa-arrow-left"></i> </button>
        </div>
    </div>
</div>