@model FMS.Website.Models.FleetModel

<input type="hidden" id="returnTotalData" value="@Model.TotalData" />
<input type="hidden" id="returnTotalPerPage" value="@Model.TotalDataPerPage" />
<input type="hidden" id="returnCurrentPage" value="@Model.CurrentPage" />
<table id="tbFleet" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="min-width: 50px">Action</th>
            <th>Police Number</th>
            <th>Employee Name</th>
            <th>Employee ID</th>
            <th>Cost Center</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Series</th>
            <th>Transmission</th>
            <th>Body Type</th>
            <th>Fuel Type</th>
            <th>Branding</th>
            <th>Color</th>
            <th>Airbag</th>
            <th>Chasis Number</th>
            <th>Engine Number</th>
            <th>Request Year</th>
            <th>Vehicle Type</th>
            <th>Vehicle Usage</th>
            <th>Project</th>
            <th>Project Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Vendor Name</th>
            <th>City</th>
            <th>Supply Method</th>
            <th>Termintation Date</th>
            <th>Restitution</th>
            <th>Price</th>
            <th>Vat</th>
            <th>Po Number</th>
            <th>Po Line</th>
            <th>Car Group Level</th>
            <th>Group Level</th>
            <th>Actual Group</th>
            <th>Assigned To</th>
            <th>Address</th>
            <th>Start Contract</th>
            <th>End Contract</th>
            <th>GR Left Qty</th>
            <th>Vehicle Status</th>
        </tr>
    </thead>
</table>