@using FMS.Core;
@model FMS.Website.Models.CtfModel

@{
    ViewBag.Title = Model.TitleForm;
}

<div class="opt-content clearfloat">
    <h5 class="title-page">@ViewBag.Title</h5>
    <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
        <i class="fa fa-download"></i> Export
    </a>
</div>

<section class="content">
    @using (Html.BeginForm("ExportCompleted", "TraCtf", FormMethod.Post, new { @id = "ExportToXls" }))
    {
    }
    <div class="wpanel">
        @if (Model.CurrentLogin.UserRole == Enums.UserRole.Fleet)
        {
            @Html.Partial("_CompletedWTC")
        }
        else 
        {
            @Html.Partial("_CompletedBenefit")
        }
    </div>
</section>

<script src="~/Scripts/ctfscript.js"></script>
<script type="text/javascript">
    function ExportXls() {
        $('#ExportToXls').submit();
    }

    $(function () {
        // DataTable
        var table = $('#tbCtfCompleted').DataTable({
            "dom": 'lf<"table-overflow"t>pi',
            orderCellsTop: true
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
    });
</script>