@using FMS.Core;
@model FMS.Website.Models.CtfModel

@{
    ViewBag.Title = Model.TitleForm;
}

<div class="opt-content clearfloat">
    <h5 class="title-page">@ViewBag.Title</h5>
    @if (Model.CurrentPageAccess.ReadAccess.Value)
    {
        <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
            <i class="fa fa-download"></i> Export
        </a>
    }
    @if (Model.CurrentLogin.UserRole == Enums.UserRole.Fleet)
    {
        <a href="@Url.Action("UploadCtf", "TraCtf")" class="btn btn-primary line" title="Upload CTF">
            <i class="fa fa-upload"></i> Mass Upload
        </a>
    }
</div>
<section class="content">
    @using (Html.BeginForm("ExportOpen", "TraCtf", FormMethod.Post, new { @id = "ExportToXls" }))
    {
    }
    <div class="wpanel">
            @Html.Partial("_DashboardCtf")
    </div>
</section>
<div id="SendCsfmodal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Assign CSF</h4>
            </div>
            @using (Html.BeginForm("SendCSF", "TraCtf"))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Create CSF ?<span></span></label>
                                <input type="hidden" id="idMstFleet" name="MstFleetId">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-grey" data-dismiss="modal" value="Cancel" />
                    <input type="submit" class="btn btn-danger" value="Create CSF" id="btnConfirm" />
                </div>
            }
        </div>
    </div>
</div>
<div id="Terminatemodal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Assign Terminate</h4>
            </div>
            @using (Html.BeginForm("Terminate", "TraCtf"))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Terminate Car ?<span></span></label>
                                @Html.Hidden("MstFleetId")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-grey" data-dismiss="modal" value="Cancel" />
                    <input type="submit" class="btn btn-danger" value="Terminate" id="btnConfirm" />
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/ctfscript.js"></script>
<script type="text/javascript">
    function ExportXls() {
        $('#ExportToXls').submit();
    }

    $(function () {
        // DataTable
        var table = $('#tbCtfDashboard').DataTable({
            "dom": 'lf<"table-overflow"t>pi',
            orderCellsTop: true
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
    });

    function SendCSF(value) {
        $('#idMstFleet').val(value);
        $('#SendCsfmodal').modal('show');
    }
    function Terminate(value) {
        $('#MstFleetId').val(value);
        $('#Terminatemodal').modal('show');
    }
</script>