@model FMS.Website.Models.CtfModel
@using FMS.Core

<div class="opt-content clearfloat">
    <h5 class="title-page">Mass Upload Ctf</h5>
</div>
<section class="content">
    <div class="wpanel">
        <label class="label-warning">@Model.ErrorMessage</label>
        @using (Html.BeginForm("UploadCtf", "TraCtf", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="file" id="upload" name="upload" class="form-control rounded-0 rounded-left" />
                            <span class="input-group-btn">
                                <button type="button" id="btnupload" value="upload" name="upload" class="btn btn-primary rounded-0 rounded-right">Generate</button>
                            </span>
                        </div>
                        <div>
                            Download template <a href="~/files_upload/UploadCtf.xlsx">here</a>
                        </div>
                    </div>
                </div>
            </div>
            <table id="tbUpload" class="table table-bordered dataTables table-striped">
                <thead>
                    <tr>
                        <th style="min-width: 50px" align="center">No</th>
                        <th style="min-width: 120px" align="center">Employee ID</th>
                        <th style="min-width: 120px" align="center">Employee Name</th>
                        <th style="min-width: 120px" align="center">Reason</th>
                        <th style="min-width: 120px" align="center">Termination Date</th>
                        <th style="min-width: 120px" align="center">Police Number</th>
                        <th style="min-width: 120px" align="center">Cost Center</th>
                        <th style="min-width: 120px" align="center">Vehicle Type</th>
                        <th style="min-width: 120px" align="center">Vehicle Year</th>
                        <th style="min-width: 120px" align="center">Supply Method</th>
                        <th style="min-width: 120px" align="center">Extend Vehicle</th>
                        <th style="min-width: 120px" align="center">Extend New Proposed Date</th>
                        <th style="min-width: 120px" align="center">Extend Police Number</th>
                        <th style="min-width: 120px" align="center">Extend PO Number</th>
                        <th style="min-width: 120px" align="center">Extend PO Line</th>
                        <th style="min-width: 120px" align="center">Extend Price</th>
                        <th style="min-width: 120px" align="center">Extend Reason</th>
                        <th style="min-width: 120px" align="center">Message</th>
                    </tr>
                </thead>
                <tbody id="tb-upload-excel"></tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" type="submit" id="btnSave">Save</button>
                    <a href="@Url.Action(Model.IsPersonalDashboard ? "PersonalDashboard" : "Index", "TraCtf")" class="btn btn-primary">Back</a>
                </div>
            </div>
            }
        </div>
</section>
<div id="LoadingModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div align="center">
                    <img src="~/Content/img/loader2.gif" id="imgLoader" style="display:block" />
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ctfscript.js"></script>
<script src="~/Scripts/thousand-separator.js"></script>
<script type="text/javascript">

    $(function () {
        // DataTable
        var table = $('#tbUpload').DataTable({
            "sDom": 'lf<"table-overflow"t>pi',
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "info": false,
            "bInfo": false,
            "ordering": false
        });

        //// Apply the search
        //table.columns().eq(0).each(function (colIdx) {
        //    $('input', $('.filters th')[colIdx]).on('keyup change', function () {
        //        table
        //            .column(colIdx)
        //            .search(this.value)
        //            .draw();
        //    });
        //});
    });

    $('#btnSave').prop('disabled', true);

    function createColumn(text) {
        return '<td>' + text + '</td>';
    }
    var uploaditems = [];

    function createColumnWithHiddenField(text, name) {
        return '<td><input type="hidden" name="' + name + '" value="' + text + '">' + text + '</td>';
    }

    function createColumnWithHiddenField(text, name, value) {
        return '<td><input type="hidden" name="' + name + '" value="' + value + '">' + text + '</td>';
    }

    function createColumnWithHiddenFieldDecimal(text, name) {
        return '<td><input type="hidden" name="' + name + '" value="' + text + '"><span class="decimal">' + text + '</span></td>';
    }

    $('#btnupload').click(function () {
        uploadXmlFile();
    });

    function jsonDateToDatetime(str) {
        try {
            var dt = new Date(parseInt(str.substr(6)));
            var dtStr = dt.toString();
            var date = dtStr.substr(8, 2) + " " + (dtStr.substr(4, 3)) + " " + dtStr.substr(11, 4);
            var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            var str = dt.getDate() + '-' + (months[dt.getMonth()]) + '-' + dt.getFullYear();
        } catch (e) {
            return '';
        }

        return str;
    }
    function uploadXmlFile() {
        $('#LoadingModal').show();
        var postUrl = '@Url.Action("UploadFile", "TraCtf")';
        var fileName = $('[name="upload"]').val().trim();
        var pos = fileName.lastIndexOf('.');
        var extension = (pos <= 0) ? '' : fileName.substring(pos);
        if (extension != '.xlsx' && extension != '.csv') {
            alert('Please browse a correct excel file to upload');
            $('#LoadingModal').hide();
            return false;
        }

        var formData = new FormData();
        var totalFiles = document.getElementById("upload").files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("upload").files[i];
            formData.append("upload", file);
        }
        $.ajax({
            type: "POST",
            url: postUrl,
            data: formData,
            dataType: 'html',
            contentType: false,
            processData: false,
            success: function (response) {
                $('#tb-upload-excel').html('');
                uploaditems = JSON.parse(response);
                var error = "";
                for (var i = 0; i < uploaditems.length; i++) {
                    var tr = '<tr>' +
                    createColumn(i + 1) +
                    createColumnWithHiddenField(uploaditems[i].EmployeeId, 'Model.Details[' + i + '].EmployeeId') +
                    createColumnWithHiddenField(uploaditems[i].EmployeeName, 'Model.Details[' + i + '].EmployeeName') +
                    createColumnWithHiddenField(uploaditems[i].ReasonS, 'Model.Details[' + i + '].Reason') +
                    createColumnWithHiddenField(jsonDateToDatetime(uploaditems[i].EffectiveDate), 'Model.Details[' + i + '].EffectiveDate') +
                    createColumnWithHiddenField(uploaditems[i].PoliceNumber, 'Model.Details[' + i + '].PoliceNumber') +
                    createColumnWithHiddenField(uploaditems[i].CostCenter, 'Model.Details[' + i + '].CostCenter') +
                    createColumnWithHiddenField(uploaditems[i].VehicleType, 'Model.Details[' + i + '].VehicleType') +
                    createColumnWithHiddenField(uploaditems[i].VehicleYear, 'Model.Details[' + i + '].VehicleYear') +
                    createColumnWithHiddenField(uploaditems[i].SupplyMethod, 'Model.Details[' + i + '].SupplyMethod') +
                    createColumnWithHiddenField(uploaditems[i].ExtendVehicle == true ? "Yes" : "No", 'Model.Details[' + i + '].CtfExtend.ExtendVehicle') +
                    createColumnWithHiddenField(uploaditems[i].ExtendVehicle == false ? "" : jsonDateToDatetime(uploaditems[i].CtfExtend.NewProposedDate), 'Model.Details[' + i + '].CtfExtend.NewProposedDate') +
                    createColumnWithHiddenField(uploaditems[i].ExtendVehicle == false ? "" : (uploaditems[i].CtfExtend.ExtendPoliceNumber == null ? "" : uploaditems[i].CtfExtend.ExtendPoliceNumber), 'Model.Details[' + i + '].CtfExtend.ExtendPoliceNumber') +
                    createColumnWithHiddenField(uploaditems[i].ExtendVehicle == false ? "" : (uploaditems[i].CtfExtend.ExtendPoNumber == null ? "" : uploaditems[i].CtfExtend.ExtendPoNumber), 'Model.Details[' + i + '].CtfExtend.ExtendPoNumber') +
                    createColumnWithHiddenField(uploaditems[i].ExtendVehicle == false ? "" : (uploaditems[i].CtfExtend.ExtedPoLine == null ? "" : uploaditems[i].CtfExtend.ExtedPoLine), 'Model.Details[' + i + '].CtfExtend.ExtedPoLine') +
                    createColumnWithHiddenField(uploaditems[i].ExtendVehicle == false ? "" : (uploaditems[i].CtfExtend.ExtendPrice == null ? "" : ThausandSeperator(uploaditems[i].CtfExtend.ExtendPrice)), 'Model.Details[' + i + '].CtfExtend.ExtendPrice') +
                    createColumnWithHiddenField(uploaditems[i].ExtendVehicle == false ? "" : (uploaditems[i].CtfExtend.ReasonStr == null ? "" : uploaditems[i].CtfExtend.ReasonStr), 'Model.Details[' + i + '].CtfExtend.Reason') +
                    createColumnWithHiddenField(uploaditems[i].ErrorMessage == null ? "" : uploaditems[i].ErrorMessage, 'Model.Details[' + i + '].ErrorMessage') +
                    '</tr>';
                    $('#tb-upload-excel').append(tr);
                    error += uploaditems[i].ErrorMessage;
                }
                if (error == '') {
                    $('#btnSave').prop('disabled', false);
                }
                else {
                    $('#btnSave').prop('disabled', true);
                }
                console.log(error);
                $('#LoadingModal').hide();
            },
            error: function () {
                $('#LoadingModal').hide();
            }
        });
    };
</script>
