@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>FMS - Fleet Management System</title>
    <!-- <link rel="shortcut icon" href="assets/images/favico.png" type="image/x-icon" /> -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="starcom">
    <meta name="author" content="VTI Indonesia">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0,target-densitydpi=device-dpi, user-scalable=no"> -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">

    <!-- Load Style -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" media="screen">
    @Styles.Render("~/bundles/css")

    <!-- Load Scripts -->
    @Scripts.Render("~/bundles/customjs")

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="landing">
    <!-- content -->
    <div class="main-content">
        <div class="container head-landing">
            <div class="row">
                <div class="col logo animated fadeIn">
                    <img src="~/Content/images/logo-mini.png" alt="">
                    <h5>Fleet Management System</h5>
                </div>
                <div class="col text-right animated fadeIn">
                    <ul class="menu">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="#">Personal Dashboard</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="main-nav" style="background-image: url('Content/images/car.jpg')">
                <div class="row">
                    <div class="col d-flex align-items-end">
                        <div>
                            <a href="#" class="menu-link animated fadeIn">
                                <h4>Car Selection Form</h4>
                                <div class="icon-col">
                                    <img src="~/Content/images/key.png" alt="">
                                </div>
                            </a>
                            <a href="#" class="menu-link animated fadeIn">
                                <h4>Car Relocation Form</h4>
                                <div class="icon-col">
                                    <img src="~/Content/images/plang.png" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col d-flex align-items-end">
                        <div>
                            <a href="#" class="menu-link animated fadeIn" style="animation-delay: 0.5s;">
                                <h4>Car Termination Form</h4>
                                <div class="icon-col">
                                    <img src="~/Content/images/hammer.png" alt="">
                                </div>
                            </a>
                            <a href="#" class="menu-link animated fadeIn" style="animation-delay: 0.5s;">
                                <h4>Temporary Car</h4>
                                <div class="icon-col">
                                    <img src="~/Content/images/clock.png" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col d-flex align-items-end">
                        <div>
                            <a href="#" class="menu-link animated fadeIn" style="animation-delay: 1s;">
                                <h4>Car Accident Form</h4>
                                <div class="icon-col">
                                    <img src="~/Content/images/ca.png" alt="">
                                </div>
                            </a>
                            <a href="@Url.Action("Index","MstEmployee")" class="menu-link animated fadeIn" style="animation-delay: 1s;">
                                <h4>Master Data</h4>
                                <div class="icon-col">
                                    <img src="~/Content/images/db.png" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col animated fadeIn d-flex align-items-end">
                        <div>
                            <a href="#" class="menu-link animated fadeIn" style="animation-delay: 1.5s;">
                                <h4>Car Complaint Form</h4>
                                <div class="icon-col">
                                    <img src="~/Content/images/cc.png" alt="">
                                </div>
                            </a>
                            <a href="#" class="menu-link animated fadeIn" style="animation-delay: 1.5s;">
                                <h4>Report</h4>
                                <div class="icon-col">
                                    <img src="~/Content/images/paper.png" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center animated fadeIn">
                    <p class="cright">© 2017 Fleet Management System. PT HM Sampoerna, Tbk</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>