<!-- Main content -->
<section class="content-header">
    <h1>
        Master Data Vehicle Spects
    </h1>
</section>
<section class="content" ng-controller="MSTVhcSpCtrl" ng-init="init()">

    <div class="row">

        <div class="col-xs-12" style=" ">
            <div class="box" style="overflow-y: auto;" ">

                <!-- /.box-header -->
                <div class="box-body">
                    <a class="btn  bg-blue" ng-click="uploadVhcS()"><i class="glyphicon glyphicon-upload"></i></a>
                    <a class="btn  bg-blue" ng-click="toExcel('#example2')"><i class="fa fa-file-excel-o"></i></a>
                    <table id="example2" class="table table-bordered table-striped">
                        <thead>

                            <tr>
                                <th>Action</th>
                                <th>Manufacturer</th>
                                <th>Model</th>
                                <th>Series</th>
                                <th>Body Type</th>
                                <th>Color</th>
                                <th>Car Group Level</th>
                                <th>Image</th>
                                <th>Last Modified</th>
                                <th>Modified</th>
                            </tr>
                        </thead>

                        <tr>
                            <td><a class="btn bg-blue" ng-click="insVhcS()"><i class="glyphicon glyphicon-plus" id="myModalLabel" data-toggle="modal" data-target=""></i> New</a></td>
                            <td><input ng-change="search()" ng-model="manufacturer" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="search()" ng-model="model" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="search()" ng-model="series" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="search()" ng-model="body_type" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="search()" ng-model="color" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="search()" ng-model="car_group_level" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="search()" ng-model="image" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="search()" ng-model="modified" readonly style="background-color: #ffffff;border-radius: 7px; text-align: center;" type="text" placeholder="search" uib-datepicker-popup="dd-MMM-yyyy" close-text="Tutup" is-open="isCalendarOpened[1]" ng-click="openCalendar(1)"></td>
                            <td><input ng-change="search()" ng-model="by" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                        </tr>
                        <tbody>
                            <tr ng-repeat="data in dataVehicleS | limitTo : 50">
                                <td style="text-align: center;">
                                    <a class="glyphicon glyphicon-edit" ng-click="updVhcS(data.vehicle_specs_id)"></a>
                                    <a ng-if="data.is_active == 1"><i sweetalert sweet-options="{title: 'Are you sure?',text: 'You Want To Deactivate This Data?!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes!',cancelButtonText: 'No!'}" sweet-on-cancel="" sweet-on-confirm="delVhcS(data.vehicle_specs_id)" class="glyphicon glyphicon-remove-sign"></i></a>

                                </td>
                                <td>{{data.manufacturer}}</td>
                                <td>{{data.model}}</td>
                                <td>{{data.series}}</td>
                                <td>{{data.body_type}}</td>
                                <td>{{data.color}}</td>
                                <td>{{data.car_group_level}}</td>
                                <td><a href="http://localhost:52738/UploadRoot/Bankdetail/{{data.image}}" target="_blank">{{data.image.substr(11)}}</a></td>
                                <td>{{dateFormat(dates(data.modified_date.substr(6,18).replace(')','').replace('/','')))}}</td>
                                <td>{{data.last_modified}}</td>
                            </tr>
                            <tr ng-if="dataVehicleS.length<1">
                                <td colspan="12">No Data Found</td>
                            </tr>
                        </tbody>

                    </table>
                    <div>
                        <ul uib-pagination boundary-links="true" total-items="totalRecords" max-size="5" ng-model="off" class="pagination pull-left" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="paging(off)"></ul>

                        <br />
                        <label class="pull-right">{{'TOTAL DATA' | translate}} : {{totalRecords}}</label>
                    </div>
                </div>


                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
    </div>
    <!-- /.row -->
</section>
<script type="text/ng-template" id="insVhcs.html">
    <div class="modal-header">
        <button sweetalert sweet-options="{title: 'Are you sure?',text: 'You Want To Cancel Insert Data?!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes!',cancelButtonText: 'No!'}" sweet-on-cancel="" sweet-on-confirm="batal()" type="button" class="close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Insert Vehicle Spects</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-y: auto;">
                    <div class="box-body">
                        <div>
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Manufacturer</label>

                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="" placeholder="Manufacturer" ng-model="manufacturer">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Model</label>

                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="" placeholder="Model" ng-model="model">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Series</label>

                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="" placeholder="Series" ng-model="series">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Body Type</label>

                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="" placeholder="Body Type" ng-model="body_type">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Color</label>

                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="" placeholder="Color" ng-model="color">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Car Group Level</label>

                                    <div class="col-sm-10">
                                        <input type="number" required class="form-control" id="" placeholder="Car Group Level" ng-model="car_group_level">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Image</label>

                                    <div class="col-sm-10">
                                        <input type="file" required id="image" accept="application/pdf" ng-model="image" ng-file-select="select(image)">
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button sweetalert sweet-options="{title: 'Are you sure?',text: 'You Want To Cancel Insert Data?!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes!',cancelButtonText: 'No!'}" sweet-on-cancel="" sweet-on-confirm="batal()" type="button" class="btn btn-default">Cancel</button>
                        <button type="button" ng-click="insert()" class="btn btn-primary" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="updVhcs.html">
    <div class="modal-header">
        <button sweetalert sweet-options="{title: 'Are you sure?',text: 'You Want To Cancel Update Data?!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes!',cancelButtonText: 'No!'}" sweet-on-cancel="" sweet-on-confirm="batal()" type="button" class="close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Update Vehicle Spects</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-y: auto;">
                    <div class="box-body">
                        <div>
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Manufacturer</label>

                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="" placeholder="Manufacturer" ng-model="manufacturer2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Model</label>

                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="" placeholder="Model" ng-model="model2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Series</label>

                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="" placeholder="Series" ng-model="series2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Body Type</label>

                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="" placeholder="Body Type" ng-model="body_type2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Color</label>

                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="" placeholder="Color" ng-model="color2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Car Group Level</label>

                                    <div class="col-sm-10">
                                        <input type="number" required class="form-control" id="" placeholder="Color" ng-model="car_group_level2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Image</label>

                                    <div class="col-sm-10">
                                        <input type="file" required id="image" accept="application/pdf" ng-model="image" ng-file-select="select(image)">
                                    </div>

                                </div>
                                <div class="form-group" ng-if="MSTRECtrl.roles == SYSTEM.ROLE_ADMIN && check == false">
                                    <label for="inputPassword3" class="col-sm-2 control-label">IS Active</label>

                                    <div class="col-sm-10">
                                        <input type="checkbox" ng-model="check" class="tes" value="{{check}}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button sweetalert sweet-options="{title: 'Are you sure?',text: 'You Want To Cancel Update Data?!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes!',cancelButtonText: 'No!'}" sweet-on-cancel="" sweet-on-confirm="batal()" type="button" class="btn btn-default">Cancel</button>
                        <button type="button" ng-click="update()" class="btn btn-primary" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="uploadCAF.html">
    <div class="modal-content">
        <div class="modal-header">
            <button sweetalert sweet-options="{title: 'Are you sure?',text: 'You Want To Cancel Excel Upload?!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes!',cancelButtonText: 'No!'}" sweet-on-cancel="" sweet-on-confirm="batal()" type="button" class="close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Upload Vehicle Spects</h4>
        </div>
        <div class="input-group">
            <input type="file" class="form-control" ng-model="filecaf" ng-file-select="select(filecaf)" accept=".xls,.xlsx" />
            <div class="input-group-btn">
                <button ng-disabled="!filecaf" class="btn btn-success" ng-click="uploadFile()">Upload</button>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="box" style="overflow-y: auto;">
                        <div class="box-body">
                            <h4>Preview of Uploaded File</h4>
                            <table id="example1" class="table table-bordered table-striped" datatable="ng" dt-options="dtOpt">
                                <thead>

                                    <tr>
                                        <th><center>Manufacturer</center></th>
                                        <th><center>Model</center></th>
                                        <th><center>Series</center></th>
                                        <th><center>Body Type</center></th>

                                        <th><center>Color</center></th>
                                        <th><center>Car Group Level </center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="data in data ">
                                        <td><center>{{data.manufacturer}}</center></td>
                                        <td><center>{{data.model}}</center></td>
                                        <td><center>{{data.series}}</center></td>
                                        <td><center>{{data.body_type}}</center></td>
                                        <td><center>{{data.color}}</center></td>
                                        <td><center>{{data.car_group_level}}</center></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button sweetalert sweet-options="{title: 'Are you sure?',text: 'You Want To Cancel Excel Upload?!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes!',cancelButtonText: 'No!'}" sweet-on-cancel="" sweet-on-confirm="batal()" type="button" class="btn btn-default">Cancel</button>
            <button type="button" class="btn btn-primary" ng-disabled="data.length < 1" ng-click="simpan()" data-dismiss="modal">Submit</button>
        </div>
    </div>
</script>