@using FMS.Core;
@model FMS.Website.Models.GroupCostCenterItem

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Group Cost Center Create</h5>
</div>
<section class="content">
    <div class="wpanel">
        @using (Html.BeginForm("Create", "MstGroupCostCenter"))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Function Name<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.FunctionName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Cost Center<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.CostCenter, new { @class = "form-control", @maxlength = "10" })
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a href="@Url.Action("Index", "MstGroupCostCenter" )" class="btn btn-default">Back</a>
                </div>
            </div>
        }
    </div>
</section>
