USE [FMS_CR1]
GO
/****** Object:  StoredProcedure [dbo].[GetAcVsOb]    Script Date: 3/15/2018 4:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[GetAcVsOb]


AS
BEGIN
    
	SET NOCOUNT ON;

    MERGE AC_VS_OB_REPORT_DATA AS Target
    USING (
      SELECT MST_FLEET.VEHICLE_FUNCTION AS VEHICLE_FUNCTION, SUM(MST_FLEET.TOTAL_MONTHLY_CHARGE) AS ACTUAL_COST, MST_FLEET.VEHICLE_TYPE AS VEHICLE_TYPE, COUNT(*) AS UNIT, MST_FLEET.CREATED_DATE AS CREATED_DATE, MST_COST_OB.OB_COST AS OB_COST
      FROM MST_FLEET JOIN MST_COST_OB ON MST_COST_OB.COST_CENTER = MST_FLEET.COST_CENTER AND MST_COST_OB.[MONTH] = MONTH(MST_FLEET.CREATED_DATE) AND MST_COST_OB.[YEAR] = YEAR(MST_FLEET.CREATED_DATE)
      WHERE MST_FLEET.IS_ACTIVE = 1 AND MST_FLEET.PROJECT = 1
      GROUP BY MST_FLEET.VEHICLE_FUNCTION, MST_FLEET.VEHICLE_TYPE, MST_COST_OB.OB_COST, MST_FLEET.CREATED_DATE
    ) AS Source
    ON (Source.ACTUAL_COST = Target.ACTUAL_COST OR (Source.ACTUAL_COST IS NULL AND Target.ACTUAL_COST IS NULL))
      AND (Source.OB_COST = Target.COST_OB OR (Source.OB_COST IS NULL AND Target.COST_OB IS NULL))
	  AND (Source.VEHICLE_TYPE = Target.VEHICLE_TYPE OR (Source.VEHICLE_TYPE IS NULL AND Target.VEHICLE_TYPE IS NULL))
	  AND (Source.UNIT = Target.UNIT OR (Source.UNIT IS NULL AND Target.UNIT IS NULL))
      AND (Source.VEHICLE_FUNCTION = Target.[FUNCTION] OR (Source.VEHICLE_FUNCTION IS NULL AND Target.[FUNCTION] IS NULL))
      AND (MONTH(Source.CREATED_DATE) = Target.REPORT_MONTH OR (Source.CREATED_DATE IS NULL AND Target.REPORT_MONTH IS NULL))
      AND (YEAR(Source.CREATED_DATE) = Target.REPORT_YEAR OR (Source.CREATED_DATE IS NULL AND Target.REPORT_YEAR IS NULL))
    WHEN NOT MATCHED BY Target THEN
    INSERT ([ACTUAL_COST]
      ,[COST_OB]
      ,[DOCUMENT_FROM_TYPE]
      ,[FUNCTION]
      ,[REPORT_MONTH]
      ,[REPORT_YEAR]
      ,[CREATED_DATE]
	  ,[VEHICLE_TYPE]
	  ,[UNIT])
    VALUES (Source.ACTUAL_COST
      ,Source.OB_COST
      ,''
      ,Source.VEHICLE_FUNCTION
      ,MONTH(Source.CREATED_DATE)
      ,YEAR(Source.CREATED_DATE)
      ,Source.CREATED_DATE
	  , Source.VEHICLE_TYPE
	  , Source.UNIT);
END
