@using FMS.Core
@model FMS.Website.Models.RemarkItem

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Remark Create</h5>
</div>
<section class="content">
    <div class="wpanel">
        @using (Html.BeginForm("Create", "MstRemark"))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Document Type<span class="red">*</span></label>
                        @Html.DropDownListFor(model => model.DocumentType, Model.DocumentTypeList, "Select",new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Remark<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.Remark, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">RoleType<span class="red">*</span></label>
                        @Html.DropDownListFor(model => model.RoleType, Model.RoleTypeList, "Select", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a href="@Url.Action("Index", "MstRemark" )" class="btn btn-default">Back</a>
                </div>
            </div>
        }
    </div>
</section>
