/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TRA_TEMPORARY
	DROP CONSTRAINT FK_TRA_TEMPORARY_MST_EMPLOYEE
GO
ALTER TABLE dbo.MST_EMPLOYEE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TRA_TEMPORARY
	DROP CONSTRAINT FK_TRA_TEMPORARY_MST_REASON
GO
ALTER TABLE dbo.MST_REASON SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_TRA_TEMPORARY
	(
	TRA_TEMPORARY_ID bigint NOT NULL IDENTITY (1, 1),
	DOCUMENT_NUMBER char(15) NOT NULL,
	DOCUMENT_STATUS int NOT NULL,
	DOCUMENT_NUMBER_RELATED char(15) NULL,
	REASON int NULL,
	EMPLOYEE_ID nvarchar(9) NULL,
	EMPLOYEE_NAME nvarchar(100) NULL,
	COST_CENTER char(10) NULL,
	GROUP_LEVEL int NULL,
	ACTUAL_GROUP nvarchar(50) NULL,
	SUPPLY_METHOD nvarchar(50) NULL,
	VEHICLE_TYPE nvarchar(50) NULL,
	CAR_LOCATION nvarchar(50) NULL,
	POLICE_NUMBER nvarchar(50) NULL,
	MANUFACTURER nvarchar(50) NULL,
	MODEL nvarchar(50) NULL,
	SERIES nvarchar(50) NULL,
	BODY_TYPE nvarchar(50) NULL,
	COLOR nvarchar(50) NULL,
	START_DATE date NULL,
	END_DATE date NULL,
	CREATED_BY nvarchar(50) NOT NULL,
	CREATED_DATE datetime NOT NULL,
	MODIFIED_BY nvarchar(50) NULL,
	MODIFIED_DATE datetime NULL,
	IS_ACTIVE bit NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_TRA_TEMPORARY SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_TRA_TEMPORARY ON
GO
IF EXISTS(SELECT * FROM dbo.TRA_TEMPORARY)
	 EXEC('INSERT INTO dbo.Tmp_TRA_TEMPORARY (TRA_TEMPORARY_ID, DOCUMENT_NUMBER, DOCUMENT_STATUS, DOCUMENT_NUMBER_RELATED, REASON, EMPLOYEE_ID, EMPLOYEE_NAME, COST_CENTER, GROUP_LEVEL, ACTUAL_GROUP, SUPPLY_METHOD, VEHICLE_TYPE, CAR_LOCATION, POLICE_NUMBER, MANUFACTURER, MODEL, SERIES, BODY_TYPE, COLOR, START_DATE, END_DATE, CREATED_BY, CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, IS_ACTIVE)
		SELECT TRA_TEMPORARY_ID, DOCUMENT_NUMBER, DOCUMENT_STATUS, DOCUMENT_NUMBER_RELATED, REASON, EMPLOYEE_ID, EMPLOYEE_NAME, COST_CENTER, GROUP_LEVEL, ACTUAL_GROUP, SUPPLY_METHOD, VEHICLE_TYPE, CAR_LOCATION, POLICE_NUMBER, MANUFACTURER, MODEL, SERIES, BODY_TYPE, COLOR, START_DATE, END_DATE, CREATED_BY, CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, IS_ACTIVE FROM dbo.TRA_TEMPORARY WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_TRA_TEMPORARY OFF
GO
DROP TABLE dbo.TRA_TEMPORARY
GO
EXECUTE sp_rename N'dbo.Tmp_TRA_TEMPORARY', N'TRA_TEMPORARY', 'OBJECT' 
GO
ALTER TABLE dbo.TRA_TEMPORARY ADD CONSTRAINT
	PK_TRA_TEMPORARY PRIMARY KEY CLUSTERED 
	(
	TRA_TEMPORARY_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.TRA_TEMPORARY ADD CONSTRAINT
	FK_TRA_TEMPORARY_MST_REASON FOREIGN KEY
	(
	REASON
	) REFERENCES dbo.MST_REASON
	(
	MST_REASON_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TRA_TEMPORARY ADD CONSTRAINT
	FK_TRA_TEMPORARY_MST_EMPLOYEE FOREIGN KEY
	(
	EMPLOYEE_ID
	) REFERENCES dbo.MST_EMPLOYEE
	(
	EMPLOYEE_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT