--For first time after create blank database with name 'FMS'

USE [FMS]
GO
/****** Object:  Table [dbo].[MST_COMPLAINT_CATEGORY]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_COMPLAINT_CATEGORY](
	[MST_COMPLAINT_CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_NAME] [nvarchar](50) NOT NULL,
	[ROLE_TYPE] [nvarchar](10) NOT NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_COMPLAINT_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[MST_COMPLAINT_CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_COST_OB]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_COST_OB](
	[MST_COST_OB_ID] [int] NOT NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_COST_OB] PRIMARY KEY CLUSTERED 
(
	[MST_COST_OB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_DELEGATION]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MST_DELEGATION](
	[MST_DELEGATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_FROM] [char](8) NOT NULL,
	[EMPLOYEE_TO] [char](8) NOT NULL,
	[DATE_FROM] [date] NOT NULL,
	[DATE_TO] [date] NOT NULL,
	[IS_COMPLAINT_FORM] [bit] NULL,
	[ATTACHMENT] [text] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_DELEGATION] PRIMARY KEY CLUSTERED 
(
	[MST_DELEGATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MST_DOCUMENT_TYPE]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_DOCUMENT_TYPE](
	[MST_DOCUMENT_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[DOCUMENT_TYPE] [nvarchar](50) NULL,
	[DOCUMENT_INISIAL] [nvarchar](50) NULL,
 CONSTRAINT [PK_MST_DOCUMENT_TYPE] PRIMARY KEY CLUSTERED 
(
	[MST_DOCUMENT_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_EMPLOYEE]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MST_EMPLOYEE](
	[EMPLOYEE_ID] [char](8) NOT NULL,
	[FORMAL_NAME] [nvarchar](100) NOT NULL,
	[POSITION_TITLE] [nvarchar](100) NOT NULL,
	[DIVISON] [nvarchar](100) NOT NULL,
	[DIRECTORATE] [nvarchar](100) NOT NULL,
	[ADDRESS] [text] NOT NULL,
	[CITY] [nvarchar](100) NOT NULL,
	[BASETOWN] [nvarchar](100) NOT NULL,
	[COMPANY] [nvarchar](50) NOT NULL,
	[COST_CENTER] [char](10) NOT NULL,
	[GROUP_LEVEL] [int] NULL,
	[EMAIL_ADDRESS] [nvarchar](100) NULL,
	[FLEX_POINT] [int] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MST_EPAF]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MST_EPAF](
	[MST_EPAF_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DOCUMENT_TYPE] [int] NOT NULL,
	[EPAF_ACTION] [nvarchar](50) NOT NULL,
	[EMPLOYEE_ID] [char](8) NULL,
	[EMPLOYEE_NAME] [nvarchar](100) NULL,
	[COST_CENTER] [char](10) NULL,
	[EFFECTIVE_DATE] [date] NULL,
	[GROUP_LEVEL] [int] NULL,
	[CITY] [nvarchar](50) NULL,
	[BASE_TOWN] [nvarchar](50) NULL,
	[EXPAT] [bit] NULL,
	[LETTER_SEND] [bit] NULL,
	[LAST_UPDATED] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_EPAF] PRIMARY KEY CLUSTERED 
(
	[MST_EPAF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MST_FLEET]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MST_FLEET](
	[MST_FLEET_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[POLICE_NUMBER] [nvarchar](50) NULL,
	[CHASIS_NUMBER] [nvarchar](50) NULL,
	[ENGINE_NUMBER] [nvarchar](50) NULL,
	[EMPLOYEE_ID] [char](8) NULL,
	[EMPLOYEE_NAME] [nvarchar](100) NULL,
	[GROUP_LEVEL] [int] NULL,
	[ACTUAL_GROUP] [nvarchar](50) NULL,
	[ASSIGNED_TO] [nvarchar](50) NULL,
	[COST_CENTER] [char](10) NULL,
	[VENDOR_NAME] [nvarchar](100) NULL,
	[MANUFACTURER] [nvarchar](50) NULL,
	[MODEL] [nvarchar](50) NULL,
	[SERIES] [nvarchar](50) NULL,
	[BODY_TYPE] [nvarchar](50) NULL,
	[COLOR] [nvarchar](50) NULL,
	[TRANSMISSION] [nvarchar](50) NULL,
	[CAR_GROUP_LEVEL] [int] NULL,
	[FUEL_TYPE] [nvarchar](50) NULL,
	[BRANDING] [nvarchar](50) NULL,
	[AIRBAG] [bit] NULL,
	[VEHICLE_YEAR] [int] NULL,
	[VEHICLE_TYPE] [nvarchar](50) NULL,
	[VEHICLE_USAGE] [nvarchar](50) NULL,
	[SUPPLY_METHOD] [nvarchar](50) NULL,
	[CITY] [nvarchar](50) NULL,
	[ADDRESS] [text] NULL,
	[PURPOSE] [text] NULL,
	[VAT] [bit] NULL,
	[RESTITUTION] [bit] NULL,
	[START_DATE] [date] NULL,
	[END_DATE] [date] NULL,
	[TERMINATION_DATE] [date] NULL,
	[PO_NUMBER] [nvarchar](50) NULL,
	[PO_LINE] [nvarchar](50) NULL,
	[START_CONTRACT] [date] NULL,
	[END_CONTRACT] [date] NULL,
	[PRICE] [decimal](18, 2) NULL,
	[VEHICLE_STATUS] [nvarchar](50) NULL,
	[IS_TAKEN] [bit] NULL,
	[GR_LEFT_QTY] [decimal](18, 2) NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_FLEET] PRIMARY KEY CLUSTERED 
(
	[MST_FLEET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MST_FUEL_ODOMETER]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MST_FUEL_ODOMETER](
	[MST_FUEL_ODOMETER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[VEHICLE_TYPE] [nvarchar](50) NULL,
	[POLICE_NUMBER] [nvarchar](50) NULL,
	[EMPLOYEE_ID] [char](8) NULL,
	[EMPLOYEE_NAME] [nvarchar](100) NULL,
	[ECS_RMB_TRANSID] [int] NULL,
	[SEQ_NUMBER] [int] NULL,
	[CLAIM_TYPE] [nvarchar](250) NULL,
	[DATE_OF_COST] [date] NULL,
	[COST_CENTER] [char](10) NULL,
	[FUEL_AMOUNT] [decimal](18, 2) NULL,
	[LAST_KM] [decimal](18, 2) NULL,
	[COST] [decimal](18, 2) NULL,
	[CLAIM_COMMENT] [text] NULL,
	[POSTED_TIME] [datetime] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_FUEL_ODOMETER] PRIMARY KEY CLUSTERED 
(
	[MST_FUEL_ODOMETER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MST_FUNCTION_GROUP]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MST_FUNCTION_GROUP](
	[MST_FUNCTION_GROUP_ID] [int] IDENTITY(1,1) NOT NULL,
	[FUNCTION_NAME] [nvarchar](50) NULL,
	[COST_CENTER] [char](10) NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_FUNCTION_GROUP] PRIMARY KEY CLUSTERED 
(
	[MST_FUNCTION_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MST_GS]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_GS](
	[MST_GS_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_NAME] [nvarchar](100) NULL,
	[VEHICLE_USAGE] [nvarchar](50) NULL,
	[POLICE_NUMBER] [nvarchar](50) NULL,
	[GROUP_LEVEL] [int] NULL,
	[LOCATION] [nvarchar](50) NULL,
	[GS_REQUEST_DATE] [date] NULL,
	[GS_FULLFILLMENT_DATE] [date] NULL,
	[GS_UNIT_TYPE] [nvarchar](50) NULL,
	[GS_POLICE_NUMBER] [nvarchar](50) NULL,
	[START_DATE] [date] NULL,
	[END_DATE] [date] NULL,
	[REMARK] [text] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_GS] PRIMARY KEY CLUSTERED 
(
	[MST_GS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_HOLIDAY_CALENDAR]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MST_HOLIDAY_CALENDAR](
	[MST_HOLIDAY_DATE] [date] NOT NULL,
	[DESCRIPTION] [varchar](250) NOT NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_HOLIDAY_CALENDAR] PRIMARY KEY CLUSTERED 
(
	[MST_HOLIDAY_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MST_LOCATION_MAPPING]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_LOCATION_MAPPING](
	[MST_LOCATION_MAPPING_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOCATION] [nvarchar](50) NOT NULL,
	[ADDRESS] [nvarchar](250) NULL,
	[REGION] [nvarchar](50) NOT NULL,
	[ZONE_SALES] [nvarchar](50) NOT NULL,
	[ZONE_PRICE_LIST] [nvarchar](50) NOT NULL,
	[VALIDITY_FROM] [date] NOT NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_LOCATION_MAPPING] PRIMARY KEY CLUSTERED 
(
	[MST_LOCATION_MAPPING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_MODUL]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_MODUL](
	[MST_MODUL_ID] [int] NOT NULL,
	[MODUL_NAME] [nvarchar](50) NULL,
	[MODUL_URL] [nvarchar](100) NULL,
	[MENU_NAME] [nvarchar](50) NULL,
	[PARENT_MODUL_ID] [int] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_MODUL] PRIMARY KEY CLUSTERED 
(
	[MST_MODUL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_PENALTY]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_PENALTY](
	[MST_PENALTY_ID] [int] IDENTITY(1,1) NOT NULL,
	[MANUFACTURER] [nvarchar](50) NULL,
	[MODEL] [nvarchar](50) NULL,
	[SERIES] [nvarchar](50) NULL,
	[YEAR] [int] NULL,
	[MONTH_START] [int] NULL,
	[MONTH_END] [int] NULL,
	[VEHICLE_TYPE] [nvarchar](50) NULL,
	[PENALTY] [int] NULL,
	[RESTITUTION] [bit] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_PENALTY] PRIMARY KEY CLUSTERED 
(
	[MST_PENALTY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_PENALTY_LOGIC]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_PENALTY_LOGIC](
	[MST_PENALTY_LOGIC_ID] [int] IDENTITY(1,1) NOT NULL,
	[YEAR] [int] NOT NULL,
	[PENALTY_LOGIC] [nvarchar](250) NOT NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_PENALTY_LOGIC] PRIMARY KEY CLUSTERED 
(
	[MST_PENALTY_LOGIC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_PRICELIST]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_PRICELIST](
	[MST_PRICELIST_ID] [int] IDENTITY(1,1) NOT NULL,
	[YEAR] [int] NULL,
	[MANUFACTURER] [nvarchar](50) NULL,
	[MODEL] [nvarchar](50) NULL,
	[SERIES] [nvarchar](50) NULL,
	[ZONE_PRICE_LIST] [nvarchar](50) NULL,
	[PRICE] [decimal](18, 2) NULL,
	[INSTALLMEN_HMS] [decimal](18, 2) NULL,
	[INSTALLMEN_EMP] [decimal](18, 2) NULL,
	[VENDOR] [int] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_PRICELIST] PRIMARY KEY CLUSTERED 
(
	[MST_PRICELIST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_REASON]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_REASON](
	[MST_REASON_ID] [int] IDENTITY(1,1) NOT NULL,
	[DOCUMENT_TYPE] [int] NOT NULL,
	[REASON] [nvarchar](250) NOT NULL,
	[IS_PENALTY] [bit] NOT NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_REASON] PRIMARY KEY CLUSTERED 
(
	[MST_REASON_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_REMARK]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_REMARK](
	[MST_REMARK_ID] [int] NOT NULL,
	[DOCUMENT_TYPE] [int] NOT NULL,
	[REMARK] [nvarchar](250) NOT NULL,
	[ROLE_TYPE] [nvarchar](10) NOT NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_REMARK] PRIMARY KEY CLUSTERED 
(
	[MST_REMARK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_SALES_VOLUME]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_SALES_VOLUME](
	[MST_SALES_VOLUME_ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE] [nvarchar](50) NULL,
	[REGION] [nvarchar](50) NULL,
	[MONTH] [int] NULL,
	[YEAR] [int] NULL,
	[VALUE] [decimal](18, 2) NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_SALES_VOLUME] PRIMARY KEY CLUSTERED 
(
	[MST_SALES_VOLUME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_SETTING]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_SETTING](
	[MST_SETTING_ID] [int] IDENTITY(1,1) NOT NULL,
	[FUNCTION_GROUP] [nvarchar](50) NULL,
	[FUNCTION_NAME] [nvarchar](50) NULL,
	[FUNCTION_VALUE] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_SETTING] PRIMARY KEY CLUSTERED 
(
	[MST_SETTING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_SYSACCESS]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_SYSACCESS](
	[MST_SYSACCESS_ID] [int] NOT NULL,
	[ROLE_NAME] [nvarchar](250) NOT NULL,
	[ROLE_NAME_ALIAS] [nvarchar](50) NOT NULL,
	[MODUL_NAME] [nvarchar](50) NOT NULL,
	[READ_ACCESS] [bit] NULL,
	[WRITE_ACCESSS] [bit] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_SYSACCESS] PRIMARY KEY CLUSTERED 
(
	[MST_SYSACCESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_VEHICLE_SPECT]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_VEHICLE_SPECT](
	[MST_VEHICLE_SPECT_ID] [int] IDENTITY(1,1) NOT NULL,
	[MANUFACTURER] [nvarchar](50) NULL,
	[MODEL] [nvarchar](50) NULL,
	[SERIES] [nvarchar](50) NULL,
	[BODY_TYPE] [nvarchar](50) NULL,
	[YEAR] [int] NULL,
	[COLOUR] [nvarchar](50) NULL,
	[IMAGE] [text] NULL,
	[GROUP_LEVEL] [int] NULL,
	[FLEX_POINT] [int] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_VEHICLE_SPECT] PRIMARY KEY CLUSTERED 
(
	[MST_VEHICLE_SPECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_VENDOR]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_VENDOR](
	[MST_VENDOR_ID] [int] IDENTITY(1,1) NOT NULL,
	[VENDOR_NAME] [nvarchar](100) NOT NULL,
	[SHORT_NAME] [nvarchar](50) NULL,
	[EMAIL_ADDRESS] [nvarchar](100) NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_MST_VENDOR] PRIMARY KEY CLUSTERED 
(
	[MST_VENDOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRA_CAF]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRA_CAF](
	[TRA_CAF_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DOCUMENT_NUMBER] [char](15) NOT NULL,
	[DOCUMENT_STATUS] [int] NOT NULL,
	[SIRS_NUMBER] [nvarchar](50) NULL,
	[POLICE_NUMBER] [nvarchar](50) NULL,
	[EMPLOYEE_ID] [char](8) NULL,
	[EMPLOYEE_NAME] [nvarchar](100) NULL,
	[SUPERVISOR] [nvarchar](50) NULL,
	[AREA] [nvarchar](50) NULL,
	[VENDOR_ID] [int] NULL,
	[VENDOR_NAME] [nvarchar](100) NULL,
	[VEHICLE_MODEL] [nvarchar](50) NULL,
	[INCIDENT_DATE] [date] NULL,
	[INCIDENT_LOCATION] [nvarchar](50) NULL,
	[INCIDENT_DESCRIPTION] [text] NULL,
	[REMARK] [int] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_TRA_CAF] PRIMARY KEY CLUSTERED 
(
	[TRA_CAF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRA_CAF_PROGRESS]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRA_CAF_PROGRESS](
	[TRA_CAF_PROGRESS_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TRA_CAF_ID] [bigint] NOT NULL,
	[STATUS_ID] [int] NULL,
	[PROGRESS_DATE] [date] NULL,
	[REMARK] [text] NULL,
	[ESTIMATION] [int] NULL,
	[ACTUAL] [int] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_TRA_CAF_PROGRESS] PRIMARY KEY CLUSTERED 
(
	[TRA_CAF_PROGRESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRA_CCF]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRA_CCF](
	[TRA_CCF_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DOCUMENT_NUMBER] [char](15) NOT NULL,
	[DOCUMENT_STATUS] [int] NOT NULL,
	[COMPLAINT_CATEGORY] [int] NOT NULL,
	[EMPLOYEE_ID] [char](8) NULL,
	[EMPLOYEE_NAME] [nvarchar](100) NULL,
	[EMPLOYEE_ID_COMPLAINT_FOR] [char](8) NULL,
	[EMPLOYEE_NAME_COMPLAINT_FOR] [nvarchar](100) NULL,
	[POLICE_NUMBER] [nvarchar](50) NULL,
	[POLICE_NUMBER_GS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_TRA_CCF] PRIMARY KEY CLUSTERED 
(
	[TRA_CCF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRA_CCF_DETAIL]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRA_CCF_DETAIL](
	[TRA_CCF_DETAIL_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TRA_CCF_ID] [bigint] NOT NULL,
	[COMPLAINT_DATE] [date] NULL,
	[COMPLAINT_NOTE] [nvarchar](250) NULL,
	[COMPLAINT_ATT] [nvarchar](100) NULL,
	[COORDINATOR_RESPONSE_DATE] [date] NULL,
	[COORDINATOR_NOTE] [nvarchar](250) NULL,
	[COORDINATOR_PROMISED_DATE] [date] NULL,
	[COORDINATOR_ATT] [nvarchar](100) NULL,
	[VENDOR_RESPONSE_DATE] [date] NULL,
	[VENDOR_NOTE] [nvarchar](250) NULL,
	[VENDOR_PROMISED_DATE] [date] NULL,
	[VENDOR_ATT] [nvarchar](100) NULL,
 CONSTRAINT [PK_TRA_CCF_DETAIL] PRIMARY KEY CLUSTERED 
(
	[TRA_CCF_DETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRA_CHANGES_HISTORY]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRA_CHANGES_HISTORY](
	[TRA_CHANGES_HISTORY_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MODUL_ID] [int] NULL,
	[FORM_ID] [bigint] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_TRA_CHANGES_HISTORY] PRIMARY KEY CLUSTERED 
(
	[TRA_CHANGES_HISTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRA_CRF]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRA_CRF](
	[TRA_CRF_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DOCUMENT_NUMBER] [char](15) NOT NULL,
	[DOCUMENT_STATUS] [int] NOT NULL,
	[EPAF_ID] [bigint] NULL,
	[EMPLOYEE_ID] [char](8) NULL,
	[EMPLOYEE_NAME] [nvarchar](100) NULL,
	[COST_CENTER] [char](10) NULL,
	[COST_CENTER_NEW] [char](10) NULL,
	[LOCATION_CITY] [nvarchar](50) NULL,
	[LOCATION_OFFICE] [nvarchar](50) NULL,
	[LOCATION_CITY_NEW] [nvarchar](50) NULL,
	[LOCATION_OFFICE_NEW] [nvarchar](50) NULL,
	[VEHICLE_TYPE] [nvarchar](50) NULL,
	[VEHICLE_USAGE] [nvarchar](50) NULL,
	[EFFECTIVE_DATE] [date] NULL,
	[RELOCATION_TYPE] [nvarchar](50) NULL,
	[TEMPORARY_DELIVERABLE_DATE] [date] NULL,
	[POLICE_NUMBER] [nvarchar](50) NULL,
	[MANUFACTURER] [nvarchar](50) NULL,
	[MODEL] [nvarchar](50) NULL,
	[SERIES] [nvarchar](50) NULL,
	[BODY_TYPE] [nvarchar](50) NULL,
	[VENDOR_ID] [int] NULL,
	[VENDOR_NAME] [nvarchar](50) NULL,
	[START_PERIOD] [date] NULL,
	[END_PERIOD] [date] NULL,
	[WITHD_CITY] [varchar](50) NULL,
	[WITHD_ADDRESS] [varchar](100) NULL,
	[WITHD_PIC] [varchar](50) NULL,
	[WITHD_PHONE] [varchar](50) NULL,
	[WITHD_DATETIME] [datetime] NULL,
	[DELIV_CITY] [varchar](50) NULL,
	[DELIV_ADDRESS] [varchar](100) NULL,
	[DELIV_PIC] [varchar](50) NULL,
	[DELIV_PHONE] [varchar](50) NULL,
	[CHANGE_POLICE_NUMBER] [bit] NULL,
	[EXPECTED_DATE] [date] NULL,
	[PO_NUMBER] [nvarchar](50) NULL,
	[PO_LINE] [nvarchar](50) NULL,
	[PRICE] [decimal](18, 2) NULL,
	[REMARK] [int] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_TRA_CRF] PRIMARY KEY CLUSTERED 
(
	[TRA_CRF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRA_CSF]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRA_CSF](
	[TRA_CSF_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DOCUMENT_NUMBER] [char](15) NOT NULL,
	[DOCUMENT_STATUS] [int] NOT NULL,
	[EPAF_ID] [bigint] NULL,
	[REASON] [int] NOT NULL,
	[EFFECTIVE_DATE] [date] NOT NULL,
	[EMPLOYEE_ID] [char](8) NOT NULL,
	[EMPLOYEE_NAME] [nvarchar](100) NOT NULL,
	[COST_CENTER] [char](10) NULL,
	[GROUP_LEVEL] [int] NULL,
	[VEHICLE_TYPE] [nvarchar](50) NULL,
	[VEHICLE_CATEGORY] [nvarchar](50) NULL,
	[VEHICLE_USAGE] [nvarchar](50) NULL,
	[LOCATION_CITY] [nvarchar](50) NULL,
	[LOCATION_ADDRESS] [nvarchar](250) NULL,
	[POLICE_NUMBER] [nvarchar](50) NULL,
	[MANUFACTURER] [nvarchar](50) NULL,
	[MODEL] [nvarchar](50) NULL,
	[SERIES] [nvarchar](50) NULL,
	[BODY_TYPE] [nvarchar](50) NULL,
	[COLOUR] [nvarchar](50) NULL,
	[START_PERIOD] [date] NULL,
	[END_PERIOD] [date] NULL,
	[VENDOR] [int] NULL,
	[EXPECTED_DATE] [date] NULL,
	[END_RENT_DATE] [date] NULL,
	[SUPPLY_METHOD] [nvarchar](50) NULL,
	[IS_PROJECT] [bit] NULL,
	[PROJECT_NAME] [nvarchar](50) NULL,
	[PO_NUMBER] [nvarchar](50) NULL,
	[REMARK] [int] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_TRA_CSF] PRIMARY KEY CLUSTERED 
(
	[TRA_CSF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRA_CTF]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRA_CTF](
	[TRA_CTF_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DOCUMENT_NUMBER] [char](15) NOT NULL,
	[DOCUMENT_STATUS] [int] NOT NULL,
	[EPAF_ID] [bigint] NULL,
	[EMPLOYEE_ID] [char](8) NOT NULL,
	[EMPLOYEE_NAME] [nvarchar](100) NOT NULL,
	[COST_CENTER] [char](10) NULL,
	[GROUP_LEVEL] [int] NULL,
	[REASON] [int] NULL,
	[SUPPLY_METHOD] [nvarchar](50) NULL,
	[POLICE_NUMBER] [nvarchar](50) NULL,
	[VEHICLE_YEAR] [int] NULL,
	[VEHICLE_TYPE] [nvarchar](50) NULL,
	[VEHICLE_USAGE] [nvarchar](50) NULL,
	[END_RENT_DATE] [date] NULL,
	[EFFECTIVE_DATE] [date] NULL,
	[IS_TRANSFER_TO_IDLE] [bit] NULL,
	[BUY_COST] [decimal](18, 2) NULL,
	[EXTEND_VEHICLE] [bit] NULL,
	[WITHD_PIC] [nvarchar](50) NULL,
	[WITHD_PHONE] [nvarchar](50) NULL,
	[WITHD_DATE] [date] NULL,
	[WITHD_CITY] [nvarchar](50) NULL,
	[WITHD_ADDRESS] [nvarchar](50) NULL,
	[EMPLOYEE_CONTRIBUTION] [decimal](18, 2) NULL,
	[PENALTY] [decimal](18, 2) NULL,
	[REFUND_COST] [decimal](18, 2) NULL,
	[BUY_COST_TOTAL] [decimal](18, 2) NULL,
	[USER_DECISION] [int] NULL,
	[PENALTY_PO_NUMBER] [nvarchar](50) NULL,
	[PENALTY_PO_LINE] [nvarchar](50) NULL,
	[PENALTY_PRICE] [decimal](18, 2) NULL,
	[REMARK] [int] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_TRA_CTF] PRIMARY KEY CLUSTERED 
(
	[TRA_CTF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRA_CTF_EXTEND]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRA_CTF_EXTEND](
	[TRA_CTF_EXTEND_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TRA_CTF_ID] [bigint] NULL,
	[NEW_PROPOSED_DATE] [date] NULL,
	[EXTEND_PO_NUMBER] [nvarchar](50) NULL,
	[EXTEND_PO_LINE] [nvarchar](50) NULL,
	[EXTEND_PRICE] [decimal](18, 2) NULL,
	[REASON] [int] NULL,
 CONSTRAINT [PK_TRA_CTF_EXTEND] PRIMARY KEY CLUSTERED 
(
	[TRA_CTF_EXTEND_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRA_DOC_NUMBER]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRA_DOC_NUMBER](
	[TRA_DOC_NUMBER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DOCUMENT_NUMBER] [char](15) NULL,
	[MONTH] [int] NULL,
	[YEAR] [int] NULL,
	[DOCUMENT_TYPE] [int] NULL,
 CONSTRAINT [PK_TRA_DOC_NUMBER] PRIMARY KEY CLUSTERED 
(
	[TRA_DOC_NUMBER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRA_TEMPORARY]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRA_TEMPORARY](
	[TRA_TEMPORARY_ID] [bigint] NOT NULL,
	[DOCUMENT_NUMBER] [char](15) NOT NULL,
	[DOCUMENT_STATUS] [int] NOT NULL,
	[DOCUMENT_NUMBER_RELATED] [char](15) NULL,
	[REASON] [int] NULL,
	[EMPLOYEE_ID] [char](8) NULL,
	[EMPLOYEE_NAME] [nvarchar](100) NULL,
	[COST_CENTER] [char](10) NULL,
	[GROUP_LEVEL] [int] NULL,
	[ACTUAL_GROUP] [nvarchar](50) NULL,
	[SUPPLY_METHOD] [nvarchar](50) NULL,
	[VEHICLE_TYPE] [nvarchar](50) NULL,
	[CAR_LOCATION] [nvarchar](50) NULL,
	[POLICE_NUMBER] [nvarchar](50) NULL,
	[MANUFACTURER] [nvarchar](50) NULL,
	[MODEL] [nvarchar](50) NULL,
	[SERIES] [nvarchar](50) NULL,
	[BODY_TYPE] [nvarchar](50) NULL,
	[COLOR] [nvarchar](50) NULL,
	[START_DATE] [date] NULL,
	[END_DATE] [date] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_TRA_TEMPORARY] PRIMARY KEY CLUSTERED 
(
	[TRA_TEMPORARY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRA_WORKFLOW_HISTORY]    Script Date: 13/10/2017 17:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRA_WORKFLOW_HISTORY](
	[TRA_WORKFLOW_HISTORY_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MODUL_ID] [int] NULL,
	[FORM_ID] [bigint] NULL,
	[ACTION] [int] NOT NULL,
	[ACTION_BY] [nvarchar](50) NOT NULL,
	[ACTION_DATE] [datetime] NULL,
	[REMARK] [int] NULL,
 CONSTRAINT [PK_TRA_WORKFLOW_HISTORY] PRIMARY KEY CLUSTERED 
(
	[TRA_WORKFLOW_HISTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[MST_DOCUMENT_TYPE] ON 

INSERT [dbo].[MST_DOCUMENT_TYPE] ([MST_DOCUMENT_TYPE_ID], [DOCUMENT_TYPE], [DOCUMENT_INISIAL]) VALUES (1, N'CSF', N'CSF')
INSERT [dbo].[MST_DOCUMENT_TYPE] ([MST_DOCUMENT_TYPE_ID], [DOCUMENT_TYPE], [DOCUMENT_INISIAL]) VALUES (2, N'TEMPORARY', N'TMP')
INSERT [dbo].[MST_DOCUMENT_TYPE] ([MST_DOCUMENT_TYPE_ID], [DOCUMENT_TYPE], [DOCUMENT_INISIAL]) VALUES (3, N'CRF', N'CRF')
SET IDENTITY_INSERT [dbo].[MST_DOCUMENT_TYPE] OFF
ALTER TABLE [dbo].[MST_EPAF]  WITH CHECK ADD  CONSTRAINT [FK_MST_EPAF_MST_DOCUMENT_TYPE] FOREIGN KEY([DOCUMENT_TYPE])
REFERENCES [dbo].[MST_DOCUMENT_TYPE] ([MST_DOCUMENT_TYPE_ID])
GO
ALTER TABLE [dbo].[MST_EPAF] CHECK CONSTRAINT [FK_MST_EPAF_MST_DOCUMENT_TYPE]
GO
ALTER TABLE [dbo].[MST_FUEL_ODOMETER]  WITH CHECK ADD  CONSTRAINT [FK_MST_FUEL_ODOMETER_MST_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[MST_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[MST_FUEL_ODOMETER] CHECK CONSTRAINT [FK_MST_FUEL_ODOMETER_MST_EMPLOYEE]
GO
ALTER TABLE [dbo].[MST_MODUL]  WITH CHECK ADD  CONSTRAINT [FK_MST_MODUL_MST_MODUL] FOREIGN KEY([PARENT_MODUL_ID])
REFERENCES [dbo].[MST_MODUL] ([MST_MODUL_ID])
GO
ALTER TABLE [dbo].[MST_MODUL] CHECK CONSTRAINT [FK_MST_MODUL_MST_MODUL]
GO
ALTER TABLE [dbo].[MST_REASON]  WITH CHECK ADD  CONSTRAINT [FK_MST_REASON_MST_DOCUMENT_TYPE] FOREIGN KEY([DOCUMENT_TYPE])
REFERENCES [dbo].[MST_DOCUMENT_TYPE] ([MST_DOCUMENT_TYPE_ID])
GO
ALTER TABLE [dbo].[MST_REASON] CHECK CONSTRAINT [FK_MST_REASON_MST_DOCUMENT_TYPE]
GO
ALTER TABLE [dbo].[MST_REMARK]  WITH CHECK ADD  CONSTRAINT [FK_MST_REMARK_MST_DOCUMENT_TYPE] FOREIGN KEY([DOCUMENT_TYPE])
REFERENCES [dbo].[MST_DOCUMENT_TYPE] ([MST_DOCUMENT_TYPE_ID])
GO
ALTER TABLE [dbo].[MST_REMARK] CHECK CONSTRAINT [FK_MST_REMARK_MST_DOCUMENT_TYPE]
GO
ALTER TABLE [dbo].[TRA_CAF]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CAF_MST_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[MST_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[TRA_CAF] CHECK CONSTRAINT [FK_TRA_CAF_MST_EMPLOYEE]
GO
ALTER TABLE [dbo].[TRA_CAF]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CAF_MST_REMARK] FOREIGN KEY([REMARK])
REFERENCES [dbo].[MST_REMARK] ([MST_REMARK_ID])
GO
ALTER TABLE [dbo].[TRA_CAF] CHECK CONSTRAINT [FK_TRA_CAF_MST_REMARK]
GO
ALTER TABLE [dbo].[TRA_CAF]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CAF_MST_VENDOR] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[MST_VENDOR] ([MST_VENDOR_ID])
GO
ALTER TABLE [dbo].[TRA_CAF] CHECK CONSTRAINT [FK_TRA_CAF_MST_VENDOR]
GO
ALTER TABLE [dbo].[TRA_CAF_PROGRESS]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CAF_PROGRESS_TRA_CAF] FOREIGN KEY([TRA_CAF_ID])
REFERENCES [dbo].[TRA_CAF] ([TRA_CAF_ID])
GO
ALTER TABLE [dbo].[TRA_CAF_PROGRESS] CHECK CONSTRAINT [FK_TRA_CAF_PROGRESS_TRA_CAF]
GO
ALTER TABLE [dbo].[TRA_CCF]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CCF_MST_COMPLAINT_CATEGORY] FOREIGN KEY([COMPLAINT_CATEGORY])
REFERENCES [dbo].[MST_COMPLAINT_CATEGORY] ([MST_COMPLAINT_CATEGORY_ID])
GO
ALTER TABLE [dbo].[TRA_CCF] CHECK CONSTRAINT [FK_TRA_CCF_MST_COMPLAINT_CATEGORY]
GO
ALTER TABLE [dbo].[TRA_CCF]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CCF_MST_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[MST_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[TRA_CCF] CHECK CONSTRAINT [FK_TRA_CCF_MST_EMPLOYEE]
GO
ALTER TABLE [dbo].[TRA_CCF]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CCF_MST_EMPLOYEE1] FOREIGN KEY([EMPLOYEE_ID_COMPLAINT_FOR])
REFERENCES [dbo].[MST_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[TRA_CCF] CHECK CONSTRAINT [FK_TRA_CCF_MST_EMPLOYEE1]
GO
ALTER TABLE [dbo].[TRA_CCF_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CCF_DETAIL_TRA_CCF] FOREIGN KEY([TRA_CCF_ID])
REFERENCES [dbo].[TRA_CCF] ([TRA_CCF_ID])
GO
ALTER TABLE [dbo].[TRA_CCF_DETAIL] CHECK CONSTRAINT [FK_TRA_CCF_DETAIL_TRA_CCF]
GO
ALTER TABLE [dbo].[TRA_CHANGES_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CHANGES_HISTORY_MST_MODUL] FOREIGN KEY([MODUL_ID])
REFERENCES [dbo].[MST_MODUL] ([MST_MODUL_ID])
GO
ALTER TABLE [dbo].[TRA_CHANGES_HISTORY] CHECK CONSTRAINT [FK_TRA_CHANGES_HISTORY_MST_MODUL]
GO
ALTER TABLE [dbo].[TRA_CRF]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CRF_MST_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[MST_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[TRA_CRF] CHECK CONSTRAINT [FK_TRA_CRF_MST_EMPLOYEE]
GO
ALTER TABLE [dbo].[TRA_CRF]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CRF_MST_EPAF] FOREIGN KEY([EPAF_ID])
REFERENCES [dbo].[MST_EPAF] ([MST_EPAF_ID])
GO
ALTER TABLE [dbo].[TRA_CRF] CHECK CONSTRAINT [FK_TRA_CRF_MST_EPAF]
GO
ALTER TABLE [dbo].[TRA_CRF]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CRF_MST_REMARK] FOREIGN KEY([REMARK])
REFERENCES [dbo].[MST_REMARK] ([MST_REMARK_ID])
GO
ALTER TABLE [dbo].[TRA_CRF] CHECK CONSTRAINT [FK_TRA_CRF_MST_REMARK]
GO
ALTER TABLE [dbo].[TRA_CRF]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CRF_MST_VENDOR] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[MST_VENDOR] ([MST_VENDOR_ID])
GO
ALTER TABLE [dbo].[TRA_CRF] CHECK CONSTRAINT [FK_TRA_CRF_MST_VENDOR]
GO
ALTER TABLE [dbo].[TRA_CSF]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CSF_MST_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[MST_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[TRA_CSF] CHECK CONSTRAINT [FK_TRA_CSF_MST_EMPLOYEE]
GO
ALTER TABLE [dbo].[TRA_CSF]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CSF_MST_EPAF] FOREIGN KEY([EPAF_ID])
REFERENCES [dbo].[MST_EPAF] ([MST_EPAF_ID])
GO
ALTER TABLE [dbo].[TRA_CSF] CHECK CONSTRAINT [FK_TRA_CSF_MST_EPAF]
GO
ALTER TABLE [dbo].[TRA_CSF]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CSF_MST_REASON] FOREIGN KEY([REASON])
REFERENCES [dbo].[MST_REASON] ([MST_REASON_ID])
GO
ALTER TABLE [dbo].[TRA_CSF] CHECK CONSTRAINT [FK_TRA_CSF_MST_REASON]
GO
ALTER TABLE [dbo].[TRA_CSF]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CSF_MST_REMARK] FOREIGN KEY([REMARK])
REFERENCES [dbo].[MST_REMARK] ([MST_REMARK_ID])
GO
ALTER TABLE [dbo].[TRA_CSF] CHECK CONSTRAINT [FK_TRA_CSF_MST_REMARK]
GO
ALTER TABLE [dbo].[TRA_CTF]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CTF_MST_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[MST_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[TRA_CTF] CHECK CONSTRAINT [FK_TRA_CTF_MST_EMPLOYEE]
GO
ALTER TABLE [dbo].[TRA_CTF]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CTF_MST_EPAF] FOREIGN KEY([EPAF_ID])
REFERENCES [dbo].[MST_EPAF] ([MST_EPAF_ID])
GO
ALTER TABLE [dbo].[TRA_CTF] CHECK CONSTRAINT [FK_TRA_CTF_MST_EPAF]
GO
ALTER TABLE [dbo].[TRA_CTF]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CTF_MST_REASON] FOREIGN KEY([REASON])
REFERENCES [dbo].[MST_REASON] ([MST_REASON_ID])
GO
ALTER TABLE [dbo].[TRA_CTF] CHECK CONSTRAINT [FK_TRA_CTF_MST_REASON]
GO
ALTER TABLE [dbo].[TRA_CTF]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CTF_MST_REMARK] FOREIGN KEY([REMARK])
REFERENCES [dbo].[MST_REMARK] ([MST_REMARK_ID])
GO
ALTER TABLE [dbo].[TRA_CTF] CHECK CONSTRAINT [FK_TRA_CTF_MST_REMARK]
GO
ALTER TABLE [dbo].[TRA_CTF_EXTEND]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CTF_EXTEND_MST_REASON] FOREIGN KEY([REASON])
REFERENCES [dbo].[MST_REASON] ([MST_REASON_ID])
GO
ALTER TABLE [dbo].[TRA_CTF_EXTEND] CHECK CONSTRAINT [FK_TRA_CTF_EXTEND_MST_REASON]
GO
ALTER TABLE [dbo].[TRA_CTF_EXTEND]  WITH CHECK ADD  CONSTRAINT [FK_TRA_CTF_EXTEND_TRA_CTF] FOREIGN KEY([TRA_CTF_ID])
REFERENCES [dbo].[TRA_CTF] ([TRA_CTF_ID])
GO
ALTER TABLE [dbo].[TRA_CTF_EXTEND] CHECK CONSTRAINT [FK_TRA_CTF_EXTEND_TRA_CTF]
GO
ALTER TABLE [dbo].[TRA_TEMPORARY]  WITH CHECK ADD  CONSTRAINT [FK_TRA_TEMPORARY_MST_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[MST_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[TRA_TEMPORARY] CHECK CONSTRAINT [FK_TRA_TEMPORARY_MST_EMPLOYEE]
GO
ALTER TABLE [dbo].[TRA_TEMPORARY]  WITH CHECK ADD  CONSTRAINT [FK_TRA_TEMPORARY_MST_REASON] FOREIGN KEY([REASON])
REFERENCES [dbo].[MST_REASON] ([MST_REASON_ID])
GO
ALTER TABLE [dbo].[TRA_TEMPORARY] CHECK CONSTRAINT [FK_TRA_TEMPORARY_MST_REASON]
GO
ALTER TABLE [dbo].[TRA_WORKFLOW_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_TRA_WORKFLOW_HISTORY_MST_MODUL] FOREIGN KEY([MODUL_ID])
REFERENCES [dbo].[MST_MODUL] ([MST_MODUL_ID])
GO
ALTER TABLE [dbo].[TRA_WORKFLOW_HISTORY] CHECK CONSTRAINT [FK_TRA_WORKFLOW_HISTORY_MST_MODUL]
GO
ALTER TABLE [dbo].[TRA_WORKFLOW_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_TRA_WORKFLOW_HISTORY_MST_REMARK] FOREIGN KEY([REMARK])
REFERENCES [dbo].[MST_REMARK] ([MST_REMARK_ID])
GO
ALTER TABLE [dbo].[TRA_WORKFLOW_HISTORY] CHECK CONSTRAINT [FK_TRA_WORKFLOW_HISTORY_MST_REMARK]
GO
