/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.MST_MODUL SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_MST_SYSACCESS
	(
	MST_SYSACCESS_ID int NOT NULL IDENTITY (1, 1),
	ROLE_NAME nvarchar(250) NOT NULL,
	ROLE_NAME_ALIAS nvarchar(50) NOT NULL,
	MODUL_ID int NOT NULL,
	READ_ACCESS bit NULL,
	WRITE_ACCESSS bit NULL,
	CREATED_BY nvarchar(50) NOT NULL,
	CREATED_DATE datetime NOT NULL,
	MODIFIED_BY nvarchar(50) NULL,
	MODIFIED_DATE datetime NULL,
	IS_ACTIVE bit NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_MST_SYSACCESS SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_MST_SYSACCESS ON
GO
IF EXISTS(SELECT * FROM dbo.MST_SYSACCESS)
	 EXEC('INSERT INTO dbo.Tmp_MST_SYSACCESS (MST_SYSACCESS_ID, ROLE_NAME, ROLE_NAME_ALIAS, MODUL_ID, READ_ACCESS, WRITE_ACCESSS, CREATED_BY, CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, IS_ACTIVE)
		SELECT MST_SYSACCESS_ID, ROLE_NAME, ROLE_NAME_ALIAS, CONVERT(int, MODUL_NAME), READ_ACCESS, WRITE_ACCESSS, CREATED_BY, CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, IS_ACTIVE FROM dbo.MST_SYSACCESS WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_MST_SYSACCESS OFF
GO
DROP TABLE dbo.MST_SYSACCESS
GO
EXECUTE sp_rename N'dbo.Tmp_MST_SYSACCESS', N'MST_SYSACCESS', 'OBJECT' 
GO
ALTER TABLE dbo.MST_SYSACCESS ADD CONSTRAINT
	PK_MST_SYSACCESS PRIMARY KEY CLUSTERED 
	(
	MST_SYSACCESS_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.MST_SYSACCESS ADD CONSTRAINT
	FK_MST_SYSACCESS_MST_MODUL FOREIGN KEY
	(
	MODUL_ID
	) REFERENCES dbo.MST_MODUL
	(
	MST_MODUL_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT