ALTER TABLE TRA_TEMPORARY
DROP COLUMN CAR_LOCATION

ALTER TABLE TRA_TEMPORARY ADD 
	IS_PROJECT bit null,
	LOCATION_CITY nvarchar(50) null,
	LOCATION_ADDRESS nvarchar(250) null
	
ALTER TABLE TRA_CTF ADD 
	VEHICLE_LOCATION nvarchar(50) null