/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
EXECUTE sp_rename N'dbo.MST_SETTING.FUNCTION_GROUP', N'Tmp_SETTING_GROUP', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.MST_SETTING.FUNCTION_NAME', N'Tmp_SETTING_NAME_1', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.MST_SETTING.FUNCTION_VALUE', N'Tmp_SETTING_VALUE_2', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.MST_SETTING.Tmp_SETTING_GROUP', N'SETTING_GROUP', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.MST_SETTING.Tmp_SETTING_NAME_1', N'SETTING_NAME', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.MST_SETTING.Tmp_SETTING_VALUE_2', N'SETTING_VALUE', 'COLUMN' 
GO
ALTER TABLE dbo.MST_SETTING SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
