ALTER TABLE TRA_TEMPORARY ADD 
	VENDOR_POLICE_NUMBER nvarchar(50) null,
	VENDOR_CHASIS_NUMBER nvarchar(50) null,
	VENDOR_ENGINE_NUMBER nvarchar(50) null,
	VENDOR_CONTRACT_START_DATE date null,
	VENDOR_CONTRACT_END_DATE date null,
	VENDOR_MANUFACTURER nvarchar(50) null,
	VENDOR_MODEL nvarchar(50) null,
	VENDOR_SERIES nvarchar(50) null,
	VENDOR_TRANSMISSION nvarchar(50) null,
	VENDOR_COLOUR nvarchar(50) null,
	VENDOR_BODY_TYPE nvarchar(50) null,
	VENDOR_AIR_BAG bit null,
	VENDOR_ABS bit null,
	VENDOR_BRANDING nvarchar(50) null,
	VENDOR_PURPOSE nvarchar(50) null,
	VENDOR_PO_NUMBER nvarchar(50) null,
	VENDOR_PO_LINE nvarchar(50) null,
	VENDOR_VAT bit null,
	VENDOR_RESTITUTION bit null,
	VENDOR_VENDOR nvarchar(100) null