/****** Object:  StoredProcedure [dbo].[GetLiterByFunction]    Script Date: 26/12/2017 10:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[GetLiterByFunction]
AS BEGIN

	MERGE LITER_BY_FUNC_REPORT_DATA AS Target
	USING (
		select SUM(FUEL_AMOUNT) AS TOTAL_LITER, FO.VEHICLE_TYPE, CC.FUNCTION_NAME, LM.REGION, 
		FO.DATE_OF_COST
		FROM MST_FUEL_ODOMETER FO
		LEFT JOIN MST_EMPLOYEE E ON FO.EMPLOYEE_ID = E.EMPLOYEE_ID
		LEFT JOIN MST_FUNCTION_GROUP CC ON IIF(FO.VEHICLE_TYPE = 'BENEFIT', E.COST_CENTER, FO.COST_CENTER) = CC.COST_CENTER
		LEFT JOIN MST_LOCATION_MAPPING LM ON E.BASETOWN = LM.BASETOWN
		GROUP BY FO.VEHICLE_TYPE, CC.FUNCTION_NAME, LM.REGION, FO.DATE_OF_COST
	) AS Source
	On (Source.VEHICLE_TYPE = Target.VEHICLE_TYPE OR (Source.VEHICLE_TYPE IS NULL AND Target.VEHICLE_TYPE IS NULL))
	AND (Source.FUNCTION_NAME = Target.[FUNCTION] OR (Source.FUNCTION_NAME IS NULL AND Target.[FUNCTION] IS NULL))
	AND (Source.REGION = Target.REGION OR (Source.REGION IS NULL AND Target.REGION IS NULL))
	AND (Source.DATE_OF_COST = Target.CREATED_DATE)
	WHEN NOT MATCHED BY TARGET THEN
		INSERT (TOTAL_LITER, VEHICLE_TYPE, [FUNCTION], REGION, REPORT_MONTH, REPORT_YEAR, CREATED_DATE)
		VALUES( Source.TOTAL_LITER, Source.VEHICLE_TYPE, Source.FUNCTION_NAME, Source.REGION, 
		Month(Source.DATE_OF_COST), Year(Source.DATE_OF_COST), Source.DATE_OF_COST);

END