USE [FMS]
GO
/****** Object:  StoredProcedure [dbo].[GetOdometer]    Script Date: 26/12/2017 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[GetOdometer]
AS BEGIN

	MERGE ODOMETER_REPORT_DATA AS Target
	USING (
		select MAX(FO.LAST_KM) AS TOTAL_KM, FO.VEHICLE_TYPE, CC.FUNCTION_NAME, LM.REGION, FO.DATE_OF_COST 
		FROM MST_FUEL_ODOMETER FO
		LEFT JOIN MST_EMPLOYEE E ON FO.EMPLOYEE_ID = E.EMPLOYEE_ID
		LEFT JOIN MST_FUNCTION_GROUP CC ON IIF(FO.VEHICLE_TYPE = 'BENEFIT', E.COST_CENTER, FO.COST_CENTER) = CC.COST_CENTER
		LEFT JOIN MST_LOCATION_MAPPING LM ON E.BASETOWN = LM.BASETOWN
		GROUP BY FO.VEHICLE_TYPE, CC.FUNCTION_NAME, LM.REGION, FO.DATE_OF_COST
	) AS Source
	On (Source.REGION = Target.REGION OR (Source.REGION IS NULL AND Target.REGION IS NULL))
	AND (Source.VEHICLE_TYPE = Target.VEHICLE_TYPE OR (Source.VEHICLE_TYPE IS NULL AND Target.VEHICLE_TYPE IS NULL))
	AND (Source.FUNCTION_NAME = Target.[FUNCTION] OR (Source.FUNCTION_NAME IS NULL AND Target.[FUNCTION] IS NULL))
	AND (Source.DATE_OF_COST = Target.CREATED_DATE)
	WHEN NOT MATCHED BY TARGET THEN
		INSERT (TOTAL_KM, VEHICLE_TYPE, [FUNCTION], REGION, REPORT_MONTH, REPORT_YEAR, CREATED_DATE)
		VALUES( Source.TOTAL_KM, Source.VEHICLE_TYPE, Source.FUNCTION_NAME, Source.REGION, MONTH(Source.DATE_OF_COST), 
		YEAR(Source.DATE_OF_COST), Source.DATE_OF_COST);

END