USE [FMS]
GO
/****** Object:  StoredProcedure [dbo].[GetSalesData]    Script Date: 1/2/2018 10:52:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[GetSalesData]
AS BEGIN

	MERGE SALES_BY_REGION_REPORT_DATA AS Target
	USING (
		select MAX(FO.LAST_KM) AS TOTAL_KM, SUM(FO.COST) AS TOTAL_COST, SV.[VALUE] AS STICK, SV.REGION, FO.DATE_OF_COST FROM MST_FUEL_ODOMETER FO 
		LEFT JOIN MST_EMPLOYEE E ON FO.EMPLOYEE_ID = E.EMPLOYEE_ID
		LEFT JOIN MST_LOCATION_MAPPING LM ON E.BASETOWN = LM.BASETOWN
		LEFT JOIN MST_SALES_VOLUME SV ON LM.REGION = SV.REGION AND MONTH(FO.DATE_OF_COST) = SV.[MONTH] AND YEAR(FO.DATE_OF_COST) = SV.[YEAR] 
		WHERE (FO.VEHICLE_TYPE = 'WTC')
		GROUP BY SV.[VALUE], SV.REGION, FO.DATE_OF_COST
	) AS Source
	On (Source.REGION = Target.REGION OR (Source.REGION IS NULL AND Target.REGION IS NULL))
	AND (Source.DATE_OF_COST = Target.CREATED_DATE)
	WHEN NOT MATCHED BY TARGET THEN
		INSERT (TOTAL_KM, TOTAL_COST, STICK, REGION, REPORT_MONTH, REPORT_YEAR, CREATED_DATE)
		VALUES( Source.TOTAL_KM, Source.TOTAL_COST, Source.STICK, Source.REGION, MONTH(Source.DATE_OF_COST), YEAR(Source.DATE_OF_COST), Source.DATE_OF_COST);

END