/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TRA_CSF
	DROP CONSTRAINT FK_TRA_CSF_MST_EMPLOYEE
GO
ALTER TABLE dbo.MST_EMPLOYEE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TRA_CSF
	DROP CONSTRAINT FK_TRA_CSF_MST_REASON
GO
ALTER TABLE dbo.MST_REASON SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TRA_CSF
	DROP CONSTRAINT FK_TRA_CSF_MST_EPAF
GO
ALTER TABLE dbo.MST_EPAF SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TRA_CSF
	DROP CONSTRAINT FK_TRA_CSF_MST_REMARK
GO
ALTER TABLE dbo.MST_REMARK SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_TRA_CSF
	(
	TRA_CSF_ID bigint NOT NULL IDENTITY (1, 1),
	DOCUMENT_NUMBER char(15) NOT NULL,
	DOCUMENT_STATUS int NOT NULL,
	EPAF_ID bigint NULL,
	REASON int NOT NULL,
	EFFECTIVE_DATE date NOT NULL,
	EMPLOYEE_ID nvarchar(9) NOT NULL,
	EMPLOYEE_NAME nvarchar(100) NOT NULL,
	COST_CENTER char(10) NULL,
	GROUP_LEVEL int NULL,
	VEHICLE_TYPE nvarchar(50) NULL,
	VEHICLE_CATEGORY nvarchar(50) NULL,
	VEHICLE_USAGE nvarchar(50) NULL,
	LOCATION_CITY nvarchar(50) NULL,
	LOCATION_ADDRESS nvarchar(250) NULL,
	POLICE_NUMBER nvarchar(50) NULL,
	MANUFACTURER nvarchar(50) NULL,
	MODEL nvarchar(50) NULL,
	SERIES nvarchar(50) NULL,
	BODY_TYPE nvarchar(50) NULL,
	COLOUR nvarchar(50) NULL,
	START_PERIOD date NULL,
	END_PERIOD date NULL,
	VENDOR int NULL,
	EXPECTED_DATE date NULL,
	START_RENT_DATE date NULL,
	END_RENT_DATE date NULL,
	SUPPLY_METHOD nvarchar(50) NULL,
	IS_PROJECT bit NULL,
	PROJECT_NAME nvarchar(50) NULL,
	PO_NUMBER nvarchar(50) NULL,
	REMARK int NULL,
	CREATED_BY nvarchar(50) NOT NULL,
	CREATED_DATE datetime NOT NULL,
	MODIFIED_BY nvarchar(50) NULL,
	MODIFIED_DATE datetime NULL,
	IS_ACTIVE bit NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_TRA_CSF SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_TRA_CSF ON
GO
IF EXISTS(SELECT * FROM dbo.TRA_CSF)
	 EXEC('INSERT INTO dbo.Tmp_TRA_CSF (TRA_CSF_ID, DOCUMENT_NUMBER, DOCUMENT_STATUS, EPAF_ID, REASON, EFFECTIVE_DATE, EMPLOYEE_ID, EMPLOYEE_NAME, COST_CENTER, GROUP_LEVEL, VEHICLE_TYPE, VEHICLE_CATEGORY, VEHICLE_USAGE, LOCATION_CITY, LOCATION_ADDRESS, POLICE_NUMBER, MANUFACTURER, MODEL, SERIES, BODY_TYPE, COLOUR, START_PERIOD, END_PERIOD, VENDOR, EXPECTED_DATE, END_RENT_DATE, SUPPLY_METHOD, IS_PROJECT, PROJECT_NAME, PO_NUMBER, REMARK, CREATED_BY, CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, IS_ACTIVE)
		SELECT TRA_CSF_ID, DOCUMENT_NUMBER, DOCUMENT_STATUS, EPAF_ID, REASON, EFFECTIVE_DATE, EMPLOYEE_ID, EMPLOYEE_NAME, COST_CENTER, GROUP_LEVEL, VEHICLE_TYPE, VEHICLE_CATEGORY, VEHICLE_USAGE, LOCATION_CITY, LOCATION_ADDRESS, POLICE_NUMBER, MANUFACTURER, MODEL, SERIES, BODY_TYPE, COLOUR, START_PERIOD, END_PERIOD, VENDOR, EXPECTED_DATE, END_RENT_DATE, SUPPLY_METHOD, IS_PROJECT, PROJECT_NAME, PO_NUMBER, REMARK, CREATED_BY, CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, IS_ACTIVE FROM dbo.TRA_CSF WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_TRA_CSF OFF
GO
DROP TABLE dbo.TRA_CSF
GO
EXECUTE sp_rename N'dbo.Tmp_TRA_CSF', N'TRA_CSF', 'OBJECT' 
GO
ALTER TABLE dbo.TRA_CSF ADD CONSTRAINT
	PK_TRA_CSF PRIMARY KEY CLUSTERED 
	(
	TRA_CSF_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.TRA_CSF ADD CONSTRAINT
	FK_TRA_CSF_MST_REMARK FOREIGN KEY
	(
	REMARK
	) REFERENCES dbo.MST_REMARK
	(
	MST_REMARK_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TRA_CSF ADD CONSTRAINT
	FK_TRA_CSF_MST_EPAF FOREIGN KEY
	(
	EPAF_ID
	) REFERENCES dbo.MST_EPAF
	(
	MST_EPAF_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TRA_CSF ADD CONSTRAINT
	FK_TRA_CSF_MST_REASON FOREIGN KEY
	(
	REASON
	) REFERENCES dbo.MST_REASON
	(
	MST_REASON_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TRA_CSF ADD CONSTRAINT
	FK_TRA_CSF_MST_EMPLOYEE FOREIGN KEY
	(
	EMPLOYEE_ID
	) REFERENCES dbo.MST_EMPLOYEE
	(
	EMPLOYEE_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT