/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_MST_COST_OB
	(
	MST_COST_OB_ID bigint NOT NULL IDENTITY (1, 1),
	YEAR int NOT NULL,
	ZONE nvarchar(50) NULL,
	MODEL nvarchar(250) NULL,
	TYPE nvarchar(250) NULL,
	OB_COST decimal(18, 2) NULL,
	REMARK nvarchar(250) NULL,
	CREATED_BY nvarchar(50) NOT NULL,
	CREATED_DATE datetime NOT NULL,
	MODIFIED_BY nvarchar(50) NULL,
	MODIFIED_DATE datetime NULL,
	IS_ACTIVE bit NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_MST_COST_OB SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_MST_COST_OB ON
GO
IF EXISTS(SELECT * FROM dbo.MST_COST_OB)
	 EXEC('INSERT INTO dbo.Tmp_MST_COST_OB (MST_COST_OB_ID, CREATED_BY, CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, IS_ACTIVE)
		SELECT CONVERT(bigint, MST_COST_OB_ID), CREATED_BY, CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, IS_ACTIVE FROM dbo.MST_COST_OB WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_MST_COST_OB OFF
GO
DROP TABLE dbo.MST_COST_OB
GO
EXECUTE sp_rename N'dbo.Tmp_MST_COST_OB', N'MST_COST_OB', 'OBJECT' 
GO
ALTER TABLE dbo.MST_COST_OB ADD CONSTRAINT
	PK_MST_COST_OB PRIMARY KEY CLUSTERED 
	(
	MST_COST_OB_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT