/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.MST_VENDOR SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_MST_PENALTY_LOGIC
	(
	MST_PENALTY_LOGIC_ID int NOT NULL IDENTITY (1, 1),
	YEAR int NOT NULL,
	PENALTY_LOGIC nvarchar(250) NOT NULL,
	VENDOR int NULL,
	VEHICLE_TYPE nvarchar(50) NULL,
	CREATED_BY nvarchar(50) NOT NULL,
	CREATED_DATE datetime NOT NULL,
	MODIFIED_BY nvarchar(50) NULL,
	MODIFIED_DATE datetime NULL,
	IS_ACTIVE bit NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_MST_PENALTY_LOGIC SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_MST_PENALTY_LOGIC ON
GO
IF EXISTS(SELECT * FROM dbo.MST_PENALTY_LOGIC)
	 EXEC('INSERT INTO dbo.Tmp_MST_PENALTY_LOGIC (MST_PENALTY_LOGIC_ID, YEAR, PENALTY_LOGIC, CREATED_BY, CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, IS_ACTIVE)
		SELECT MST_PENALTY_LOGIC_ID, YEAR, PENALTY_LOGIC, CREATED_BY, CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, IS_ACTIVE FROM dbo.MST_PENALTY_LOGIC WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_MST_PENALTY_LOGIC OFF
GO
DROP TABLE dbo.MST_PENALTY_LOGIC
GO
EXECUTE sp_rename N'dbo.Tmp_MST_PENALTY_LOGIC', N'MST_PENALTY_LOGIC', 'OBJECT' 
GO
ALTER TABLE dbo.MST_PENALTY_LOGIC ADD CONSTRAINT
	PK_MST_PENALTY_LOGIC PRIMARY KEY CLUSTERED 
	(
	MST_PENALTY_LOGIC_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.MST_PENALTY_LOGIC ADD CONSTRAINT
	FK_MST_PENALTY_LOGIC_MST_VENDOR FOREIGN KEY
	(
	VENDOR
	) REFERENCES dbo.MST_VENDOR
	(
	MST_VENDOR_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
