/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.MST_REMARK SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.MST_EPAF
	DROP CONSTRAINT FK_MST_EPAF_MST_EMPLOYEE
GO
ALTER TABLE dbo.MST_EMPLOYEE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.MST_EPAF
	DROP CONSTRAINT FK_MST_EPAF_MST_DOCUMENT_TYPE
GO
ALTER TABLE dbo.MST_DOCUMENT_TYPE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_MST_EPAF
	(
	MST_EPAF_ID bigint NOT NULL IDENTITY (1, 1),
	DOCUMENT_TYPE int NOT NULL,
	EPAF_ACTION nvarchar(50) NOT NULL,
	EPAF_NUMBER nvarchar(50) NULL,
	EMPLOYEE_ID nvarchar(9) NULL,
	EMPLOYEE_NAME nvarchar(100) NULL,
	COST_CENTER char(10) NULL,
	EFFECTIVE_DATE date NULL,
	GROUP_LEVEL int NULL,
	CITY nvarchar(50) NULL,
	BASE_TOWN nvarchar(50) NULL,
	EXPAT bit NULL,
	LETTER_SEND bit NULL,
	EPAF_APPROVED_DATE datetime NULL,
	REMARK int NULL,
	LAST_UPDATED nvarchar(50) NULL,
	CREATED_BY nvarchar(50) NOT NULL,
	CREATED_DATE datetime NOT NULL,
	MODIFIED_BY nvarchar(50) NULL,
	MODIFIED_DATE datetime NULL,
	IS_ACTIVE bit NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_MST_EPAF SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_MST_EPAF ON
GO
IF EXISTS(SELECT * FROM dbo.MST_EPAF)
	 EXEC('INSERT INTO dbo.Tmp_MST_EPAF (MST_EPAF_ID, DOCUMENT_TYPE, EPAF_ACTION, EPAF_NUMBER, EMPLOYEE_ID, EMPLOYEE_NAME, COST_CENTER, EFFECTIVE_DATE, GROUP_LEVEL, CITY, BASE_TOWN, EXPAT, LETTER_SEND, EPAF_APPROVED_DATE, LAST_UPDATED, CREATED_BY, CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, IS_ACTIVE)
		SELECT MST_EPAF_ID, DOCUMENT_TYPE, EPAF_ACTION, EPAF_NUMBER, EMPLOYEE_ID, EMPLOYEE_NAME, COST_CENTER, EFFECTIVE_DATE, GROUP_LEVEL, CITY, BASE_TOWN, EXPAT, LETTER_SEND, EPAF_APPROVED_DATE, LAST_UPDATED, CREATED_BY, CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, IS_ACTIVE FROM dbo.MST_EPAF WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_MST_EPAF OFF
GO
ALTER TABLE dbo.TRA_CRF
	DROP CONSTRAINT FK_TRA_CRF_MST_EPAF
GO
ALTER TABLE dbo.TRA_CTF
	DROP CONSTRAINT FK_TRA_CTF_MST_EPAF
GO
ALTER TABLE dbo.TRA_CSF
	DROP CONSTRAINT FK_TRA_CSF_MST_EPAF
GO
DROP TABLE dbo.MST_EPAF
GO
EXECUTE sp_rename N'dbo.Tmp_MST_EPAF', N'MST_EPAF', 'OBJECT' 
GO
ALTER TABLE dbo.MST_EPAF ADD CONSTRAINT
	PK_MST_EPAF PRIMARY KEY CLUSTERED 
	(
	MST_EPAF_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.MST_EPAF ADD CONSTRAINT
	FK_MST_EPAF_MST_DOCUMENT_TYPE FOREIGN KEY
	(
	DOCUMENT_TYPE
	) REFERENCES dbo.MST_DOCUMENT_TYPE
	(
	MST_DOCUMENT_TYPE_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.MST_EPAF ADD CONSTRAINT
	FK_MST_EPAF_MST_EMPLOYEE FOREIGN KEY
	(
	EMPLOYEE_ID
	) REFERENCES dbo.MST_EMPLOYEE
	(
	EMPLOYEE_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.MST_EPAF ADD CONSTRAINT
	FK_MST_EPAF_MST_REMARK FOREIGN KEY
	(
	REMARK
	) REFERENCES dbo.MST_REMARK
	(
	MST_REMARK_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TRA_CSF ADD CONSTRAINT
	FK_TRA_CSF_MST_EPAF FOREIGN KEY
	(
	EPAF_ID
	) REFERENCES dbo.MST_EPAF
	(
	MST_EPAF_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TRA_CSF SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TRA_CTF ADD CONSTRAINT
	FK_TRA_CTF_MST_EPAF FOREIGN KEY
	(
	EPAF_ID
	) REFERENCES dbo.MST_EPAF
	(
	MST_EPAF_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TRA_CTF SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TRA_CRF ADD CONSTRAINT
	FK_TRA_CRF_MST_EPAF FOREIGN KEY
	(
	EPAF_ID
	) REFERENCES dbo.MST_EPAF
	(
	MST_EPAF_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TRA_CRF SET (LOCK_ESCALATION = TABLE)
GO
COMMIT