@model FMS.Website.Models.CostObModel 
@using FMS.Core;

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Cost OB Upload</h5>
</div>
<section class="content" ng-controller="MSTCCtrl" ng-init="init()">
    <div class="wpanel">
        @using (Html.BeginForm("Upload", "MstCostOb", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="file" id="upload" name="upload" class="form-control rounded-0 rounded-left" />
                            <span class="input-group-btn">
                                <button type="button" id="btnupload" value="upload" name="upload" class="btn btn-primary rounded-0 rounded-right">Generate</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <table id="example2" class="table table-bordered dataTables table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Cost Center</th>
                        <th>Body Type</th>
                        <th>Vehicle Type</th>
                        <th>Sum Of January</th>
                        <th>Sum Of February</th>
                        <th>Sum Of March</th>
                        <th>Sum Of April</th>
                        <th>Sum Of May</th>
                        <th>Sum Of June</th>
                        <th>Sum Of July</th>
                        <th>Sum Of August</th>
                        <th>Sum Of September</th>
                        <th>Sum Of October</th>
                        <th>Sum Of November</th>
                        <th>Sum Of December</th>
                        <th>Sum Of QTY January</th>
                        <th>Sum Of QTY February</th>
                        <th>Sum Of QTY March</th>
                        <th>Sum Of QTY April</th>
                        <th>Sum Of QTY May</th>
                        <th>Sum Of QTY June</th>
                        <th>Sum Of QTY July</th>
                        <th>Sum Of QTY August</th>
                        <th>Sum Of QTY September</th>
                        <th>Sum Of QTY October</th>
                        <th>Sum Of QTY November</th>
                        <th>Sum Of QTY December</th>
                    </tr>
                </thead>
                <tbody id="tb-upload-excel"></tbody>
            </table>
            <div class="row mt-2">
                <div class="col-md-12">
                    <button class="btn btn-primary" type="submit" id="btnSave">Save</button>
                    <a href="@Url.Action("Index","MstCostOb")" title="Cancel" class="btn">Cancel</a>
                </div>
            </div>
        }
    </div>
</section>

<script type="text/javascript">

    $('#btnSave').prop('disabled', true);

    function createColumn(text) {
        return '<td>' + text + '</td>';
    }
    var uploaditems = [];

    function createColumnWithHiddenField(text, name) {
        return '<td><input type="hidden" name="' + name + '" value="' + text + '">' + text + '</td>';
    }

    function createColumnWithHiddenFieldDecimal(text, name) {
        return '<td><input type="hidden" name="' + name + '" value="' + text + '"><span class="decimal">' + text + '</span></td>';
    }
    $('#btnupload').click(function () {
        uploadXmlFile();
    });


    function uploadXmlFile() {
        var postUrl = '@Url.Action("UploadFile", "MstCostOb")';
        var fileName = $('[name="upload"]').val().trim();
        var pos = fileName.lastIndexOf('.');
        var extension = (pos <= 0) ? '' : fileName.substring(pos);
        if (extension != '.xlsx' && extension != '.csv') {
            alert('Please browse a correct excel file to upload');
            return false;
        }

        var formData = new FormData();
        var totalFiles = document.getElementById("upload").files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("upload").files[i];
            formData.append("upload", file);
        }
        $.ajax({
            type: "POST",
            url: postUrl,
            data: formData,
            dataType: 'html',
            contentType: false,
            processData: false,

            success: function (response) {
                $('#tb-upload-excel').html('');
                uploaditems = JSON.parse(response);
                var error = "";
                for (var i = 0; i < uploaditems.length; i++) {
                    var tr = '<tr>' +
                createColumn(i + 1) +
                createColumnWithHiddenField(uploaditems[i].CostCenter, 'Model.UploadedData[' + i + '].CostCenter') +
                createColumnWithHiddenField(uploaditems[i].BodyType, 'Model.UploadedData[' + i + '].BodyType') +
                createColumnWithHiddenField(uploaditems[i].VehicleType, 'Model.UploadedData[' + i + '].VehicleType') +
                createColumnWithHiddenFieldDecimal(uploaditems[i].SumOfJan, 'Model.UploadedData[' + i + '].SumOfJan') +
                createColumnWithHiddenFieldDecimal(uploaditems[i].SumOfFeb, 'Model.UploadedData[' + i + '].SumOfFeb') +
                createColumnWithHiddenFieldDecimal(uploaditems[i].SumOfMar, 'Model.UploadedData[' + i + '].SumOfMar') +
                createColumnWithHiddenFieldDecimal(uploaditems[i].SumOfApr, 'Model.UploadedData[' + i + '].SumOfApr') +
                createColumnWithHiddenFieldDecimal(uploaditems[i].SumOfMay, 'Model.UploadedData[' + i + '].SumOfMay') +
                createColumnWithHiddenFieldDecimal(uploaditems[i].SumOfJun, 'Model.UploadedData[' + i + '].SumOfJun') +
                createColumnWithHiddenFieldDecimal(uploaditems[i].SumOfJul, 'Model.UploadedData[' + i + '].SumOfJul') +
                createColumnWithHiddenFieldDecimal(uploaditems[i].SumOfAug, 'Model.UploadedData[' + i + '].SumOfAug') +
                createColumnWithHiddenFieldDecimal(uploaditems[i].SumOfSep, 'Model.UploadedData[' + i + '].SumOfSep') +
                createColumnWithHiddenFieldDecimal(uploaditems[i].SumOfOct, 'Model.UploadedData[' + i + '].SumOfOct') +
                createColumnWithHiddenFieldDecimal(uploaditems[i].SumOfNov, 'Model.UploadedData[' + i + '].SumOfNov') +
                createColumnWithHiddenFieldDecimal(uploaditems[i].SumOfDec, 'Model.UploadedData[' + i + '].SumOfDec') +
                createColumnWithHiddenField(uploaditems[i].SumOfQtyJan, 'Model.UploadedData[' + i + '].SumOfQtyJan') +
                createColumnWithHiddenField(uploaditems[i].SumOfQtyFeb, 'Model.UploadedData[' + i + '].SumOfQtyFeb') +
                createColumnWithHiddenField(uploaditems[i].SumOfQtyMar, 'Model.UploadedData[' + i + '].SumOfQtyMar') +
                createColumnWithHiddenField(uploaditems[i].SumOfQtyApr, 'Model.UploadedData[' + i + '].SumOfQtyApr') +
                createColumnWithHiddenField(uploaditems[i].SumOfQtyMay, 'Model.UploadedData[' + i + '].SumOfQtyMay') +
                createColumnWithHiddenField(uploaditems[i].SumOfQtyJun, 'Model.UploadedData[' + i + '].SumOfQtyJun') +
                createColumnWithHiddenField(uploaditems[i].SumOfQtyJul, 'Model.UploadedData[' + i + '].SumOfQtyJul') +
                createColumnWithHiddenField(uploaditems[i].SumOfQtyAug, 'Model.UploadedData[' + i + '].SumOfQtyAug') +
                createColumnWithHiddenField(uploaditems[i].SumOfQtySep, 'Model.UploadedData[' + i + '].SumOfQtySep') +
                createColumnWithHiddenField(uploaditems[i].SumOfQtyOct, 'Model.UploadedData[' + i + '].SumOfQtyOct') +
                createColumnWithHiddenField(uploaditems[i].SumOfQtyNov, 'Model.UploadedData[' + i + '].SumOfQtyNov') +
                createColumnWithHiddenField(uploaditems[i].SumOfQtyDec, 'Model.UploadedData[' + i + '].SumOfQtyDec') +
                '</tr>';
                    $('#tb-upload-excel').append(tr);
                    error += uploaditems[i].Message;
                }
                $('#btnSave').prop('disabled', false);
            }
        });
    };
</script>

