<div id="idTambahLibrary" class="modal-content" ng-init="DetailPendaftaranLelangCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="DetailPendaftaranLelangCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">Detail Pendaftaran Pengadaan</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-10 center-block" style="float: none!important;">
                <div class="row well">
                    <div class="col-md-12">
                        <dl class="dl-horizontal">
                            <dt>Nama Pengadaan</dt>
                            <dd>{{DetailPendaftaranLelangCtrl.data.TenderName}}</dd>
                            <dt>File Dokumen</dt>
                            <dd ng-if="!(DetailPendaftaranLelangCtrl.data.DocumentUrl ==='' || DetailPendaftaranLelangCtrl.data.DocumentUrl ==null)">
                                <a href="{{DetailPendaftaranLelangCtrl.folderFile+DetailPendaftaranLelangCtrl.data.DocumentUrl}}" class="btn btn-xs btn-primary" target="_BLANK" title="Download Dokumen">
                                    <i class="fa fa-download"></i>&nbsp;&nbsp;
                                </a>
                            </dd>
                            <dd ng-if="DetailPendaftaranLelangCtrl.data.DocumentUrl==='' || DetailPendaftaranLelangCtrl.data.DocumentUrl===null">
                                <label class="label label-sm label-default">
                                    <i class="fa fa-download"></i>&nbsp;&nbsp;Dokumen Belum di Upload
                                </label>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="DetailPendaftaranLelangCtrl.batal()" type="button" class="btn btn-flat btn-primary" title="Kembali"><i class="fa fa-arrow-circle-left"></i> </button>
    </div>
</div>