<section class="content" ng-init="PendaftaranLelangCtrl.init()">
	<ol class="breadcrumb">
		<li><a href="#/home-admin">Home</a></li>
		<li><a class="active">Pendaftaran Pengadaan</a></li>

	</ol>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
			<div class="box box-info">
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<h3 class="text-left afta-font" style="padding-bottom: 20px;">Tahapan Pendaftaran Pengadaan</h3>
						</div>
						<div class="col-md-12">
							<div class="table table-responsive" style="padding-bottom: 20px;">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="text-center" style="vertical-align: middle!important;">Nama Pengadaan</th>
											<th class="text-center" style="width: 270px; min-width: 270px!important;">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td style="vertical-align: middle;">{{PendaftaranLelangCtrl.TenderName}}</td>
											<td class="text-center" style="vertical-align: middle!important;">
												<a ng-click="PendaftaranLelangCtrl.lihatPendaftaranLelang()" class="btn btn-flat btn-sm btn-warning" title="Lihat"><i class="fa fa-external-link"></i></a>
												<a ng-click="PendaftaranLelangCtrl.uploadDokumen(PendaftaranLelangCtrl.TenderID, PendaftaranLelangCtrl.StepID)" class="btn btn-flat btn-sm btn-primary" title="Upload Dokumen"><i class="fa fa-edit"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-12">
							<h5 class="afta-font" style="margin-top: 0px;">*) Upload Dokumen Pengadaan Untuk Di Download Vendor</h5>
						</div>
						<br /><br />
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3 class="text-left afta-font" style="padding-bottom: 20px;">Vendor Yang Sudah Mendaftar</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
							<div class="table table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="text-center" style="vertical-align: middle!important; width:20px">No.</th>
											<th class="text-center" style="vertical-align: middle!important;">Nama Perusahaan</th>
											<th class="text-center" style="width: 270px; min-width: 270px!important;">Tanggal Daftar</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="pe in PendaftaranLelangCtrl.register">
											<td style="vertical-align: middle;">{{$index + 1}}</td>
											<td style="vertical-align: middle;">
												{{pe.VendorName}}
											</td>
											<td class="text-center" style="vertical-align: middle!important;">
												{{pe.TenderRegistrationDate | date: "dd-MM-yyyy"}}
											</td>
										</tr>
									</tbody>
								</table>
							</div><br />
							<div ng-if="PendaftaranLelangCtrl.isNeedApproval">
								<a ng-click="PendaftaranLelangCtrl.sendToApproval()" class="btn btn-flat btn-sm btn-primary" title="Send to Approval">
									<i class="fa fa-paste"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>