@using FMS.Core;
@model FMS.Website.Models.ComplaintCategoryItem

<section class="content-header">
    <h1>
        Master Data Vendor Create
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("Create", "MstComplaint"))
            {
                <div class="box-header" style="overflow-y: auto;">
                    <div class="box" style="overflow-y: auto;">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Category Name<span class="red">*</span></label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control " })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Role Type<span class="red">*</span></label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.RoleType, new { @class = "form-control " })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box-body">
                            <input type="submit" value="Save" class="btn bg-blue" />
                            <a href="@Url.Action("Index", "MstComplaint" )"><i class="btn bg-gray ">Back</i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
