@model FMS.Website.Models.HolidayCalenderModel
@using FMS.Core;

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Holiday Upload</h5>
</div>
<section class="content">
    <div class="wpanel">
        @using (Html.BeginForm("Upload", "MstHolidayCalender"))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="file" id="upload" name="upload" class="form-control rounded-0 rounded-left" />
                            <span class="input-group-btn">
                                <button type="button" id="btnupload" value="upload" name="upload" class="btn btn-primary rounded-0 rounded-right">Generate</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Holiday Date</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody id="tb-upload-excel"></tbody>
            </table>
            <div class="row mt-2">
                <div class="col-md-12">
                    <button class="btn btn-primary" type="submit" id="btnSave">Save</button>
                    <a href="@Url.Action("Index","MstHolidayCalender")" title="Cancel" class="btn">Cancel</a>
                </div>
            </div>
        }
    </div>
</section>
<script type="text/javascript">

    $('#btnSave').prop('disabled', true);

    function createColumn(text) {
        return '<td>' + text + '</td>';
    }
    var uploaditems = [];

    function createColumnWithHiddenField(text, name) {
        return '<td><input type="hidden" name="' + name + '" value="' + text + '">' + text + '</td>';
    }

    function createColumnWithHiddenFieldDecimal(text, name) {
        return '<td><input type="hidden" name="' + name + '" value="' + text + '"><span class="decimal">' + text + '</span></td>';
    }

    $('#btnupload').click(function () {
        uploadXmlFile();
    });

    function uploadXmlFile() {
        var postUrl = '@Url.Action("UploadFile", "MstHolidayCalender")';
        var fileName = $('[name="upload"]').val().trim();
        var pos = fileName.lastIndexOf('.');
        var extension = (pos <= 0) ? '' : fileName.substring(pos);
        if (extension != '.xlsx' && extension != '.csv') {
            alert('Please browse a correct excel file to upload');
            return false;
        }

        var formData = new FormData();
        var totalFiles = document.getElementById("upload").files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("upload").files[i];
            formData.append("upload", file);
        }
        $.ajax({
            type: "POST",
            url: postUrl,
            data: formData,
            dataType: 'html',
            contentType: false,
            processData: false,

            success: function (response) {
                $('#tb-upload-excel').html('');
                uploaditems = JSON.parse(response);
                var error = "";
                for (var i = 0; i < uploaditems.length; i++) {
                    var tr = '<tr>' +
                createColumn(i+1) +
                createColumnWithHiddenField(convertDate(uploaditems[i].MstHolidayDate), 'Model.Details[' + i + '].MstHolidayDate') +
                createColumnWithHiddenField(uploaditems[i].Description, 'Model.Details[' + i + '].Description') +
                '</tr>';
                    $('#tb-upload-excel').append(tr);
                    error += uploaditems[i].Message;
                }
                $('#btnSave').prop('disabled', false);
            }
        });
    };

    function convertDate(date) {
        var dt = new Date(parseInt(date.substr(6)));
        var dtStr = dt.toString();
        var date = dtStr.substr(8, 2) + " " + (dtStr.substr(4, 3)) + " " + dtStr.substr(11, 4);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var str = dt.getDate() + '-' + (months[dt.getMonth()]) + '-' + dt.getFullYear();

        return str;
    }
</script>

