<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" ng-if="hrMenuCtrl.roles =='SYSTEM.ROLE_FLEET'">
            <li class="header">FLEET NAVIGATION</li>
            <li class="treeview">
                <a>
                    <i class="fa fa-home"></i> <span>Home</span>
                </a>
            </li>
            <li class="treeview">
                <a>
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a ng-href="#/caf-dashboard"><i class="fa fa-circle-o"></i>Car Accident</a></li>
                    <li><a ng-href="#/complaint-dashboard"><i class="fa fa-circle-o"></i>Car Complaint</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>Car Termination</a></li>
                    <li><a ng-href="#/dashboard/fleet"><i class="fa fa-circle-o"></i>Personal</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a>
                    <i class="fa fa-dashboard"></i> <span>Form</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a ng-href="#/csf-wtc/"><i class="fa fa-circle-o"></i>Car Selection</a></li>
                    <li><a ng-href="#/temporary/"><i class="fa fa-circle-o"></i>Temporary Car</a></li>
                    <li><a ng-href="#/crf/wtc/"><i class="fa fa-circle-o"></i>Car Relocation</a></li>
                    <li><a ng-href="#/complaint/"><i class="fa fa-circle-o"></i>Car Complaint</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>Car Termination</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a>
                    <i class="fa fa-dashboard"></i> <span>Master Data</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a ng-href="#/mst-employee"><i class="fa fa-circle-o"></i>Employee</a></li>
                    <li><a ng-href="#/mst-vehiclespects"><i class="fa fa-circle-o"></i>Vehicle Spects</a></li>
                    <li><a ng-href="#/mst-fleet"><i class="fa fa-circle-o"></i>Fleet</a></li>
                    <li><a ng-href="#/mst-location"><i class="fa fa-circle-o"></i>Location</a></li>
                    <li><a ng-href="#/mst-vehicletype"><i class="fa fa-circle-o"></i>Vehicle Type</a></li>
                    <li><a ng-href="#/mst-reason"><i class="fa fa-circle-o"></i>Reason</a></li>
                    <li><a ng-href="#/mst-remark"><i class="fa fa-circle-o"></i>Remark</a></li>
                    <li><a ng-href="#/mst-complaint"><i class="fa fa-circle-o"></i>Complaint Category</a></li>
                    <li><a ng-href="#/mst-costcenter"><i class="fa fa-circle-o"></i>Cost Center</a></li>
                    <li><a ng-href="#/mst-supmeth"><i class="fa fa-circle-o"></i>Supply Method</a></li>
                    <li><a ng-href="#/mst-project"><i class="fa fa-circle-o"></i>Project</a></li>
                    <li><a ng-href="#/mst-regional"><i class="fa fa-circle-o"></i>Regional</a></li>
                    <li><a ng-href="#/mst-regionalmap"><i class="fa fa-circle-o"></i>Regional Mapping</a></li>

                    <li><a ng-href="#/mst-vendor"><i class="fa fa-circle-o"></i>Vendor</a></li>
                    <li><a ng-href="#/mst-venjob"><i class="fa fa-circle-o"></i>Vendor Job Area</a></li>
                    <li><a ng-href="#/mst-pricelist"><i class="fa fa-circle-o"></i>Pricelist</a></li>
                    <li><a ng-href="#"><i class="fa fa-circle-o"></i>Epaf</a></li>
                    <li><a ng-href="#/mst-zone"><i class="fa fa-circle-o"></i>Zone</a></li>
                    <li><a ng-href="#/mst-zonemap"><i class="fa fa-circle-o"></i>Zone Mapping</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a>
                    <i class="fa fa-dashboard"></i> <span>Report</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/report-fuel"><i class="fa fa-circle-o"></i>Fuel</a></li>
                    <li><a href="#/report-po"><i class="fa fa-circle-o"></i>PO Report</a></li>
                    <li><a href="#/report-gr"><i class="fa fa-circle-o"></i>Auto GR Report</a></li>
                    <li><a href="#/report-gs"><i class="fa fa-circle-o"></i>GS Report</a></li>
                    <li class="treeview">
                        <a>
                            <i class="fa fa-circle-o"></i>Summary Report
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#/report-summary"><i class="fa fa-circle-o"></i>Summary Report 1</a></li>
                            <li><a href="#/report-summary2"><i class="fa fa-circle-o"></i>Summary Report 2</a></li>
                            <li><a href="#/report-summary3"><i class="fa fa-circle-o"></i>Summary Report 3</a></li>
                            <li><a href="#/number-of-vehicle"><i class="fa fa-circle-o"></i>Vehicle By Function</a></li>
                            <li><a href="#/number-of-vehicletype"><i class="fa fa-circle-o"></i>Vehicle by Make-Type</a></li>
                            <li><a href="#/number-of-wtcvehicle"><i class="fa fa-circle-o"></i>WTC By Marketing & Sales</a></li>
                            <li><a href="#/report-odometer"><i class="fa fa-circle-o"></i>Odomoter Report</a></li>
                            <li><a href="#/report-liter"><i class="fa fa-circle-o"></i>Liter by Function</a></li>
                            <li><a href="#/report-fuelcost"><i class="fa fa-circle-o"></i>Fuel Cost by Function</a></li>
                            <li><a href="#/report-leasecost"><i class="fa fa-circle-o"></i>Lease Cost by Function</a></li>
                            <li><a href="#/report-acob"><i class="fa fa-circle-o"></i>AC vs OB</a></li>
                            <li><a href="#/report-sales-region"><i class="fa fa-circle-o"></i>Sales by Regions</a></li>
                            <li><a href="#/report-accidents"><i class="fa fa-circle-o"></i>Accident</a></li>
                            <!--<li><a href="#/report-sumptdytd"><i class="fa fa-circle-o"></i>Sum PTD by Function</a></li>-->
                            <li><a href="#/report-sumptdytd"><i class="fa fa-circle-o"></i>Sum PTD & YTD by Function</a></li>
                            <li><a href="#/report-sumquarter"><i class="fa fa-circle-o"></i>Sum Quarter</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#/report-summary">
                            <i class="fa fa-circle-o"></i>Summary Report Region
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#/region-summary"><i class="fa fa-circle-o"></i>Sum per Region</a></li>
                            <li><a href="#/region-of-vehicle"><i class="fa fa-circle-o"></i>Vehicle by Sales & Marketing</a></li>
                            <li><a href="#/region-of-vehicletype"><i class="fa fa-circle-o"></i>Vehicle by Make-Type</a></li>
                            <li><a href="#/region-leasecost"><i class="fa fa-circle-o"></i>Lease Cost by Sales & Marketing</a></li>
                            <li><a href="#/region-odometer"><i class="fa fa-circle-o"></i>Odomoter by Sales & Marketing</a></li>
                            <li><a href="#/region-liter"><i class="fa fa-circle-o"></i>Liter by Sales & Marketing</a></li>
                            <li><a href="#/region-fuelcost"><i class="fa fa-circle-o"></i>Fuel Cost by Sales & Marketing</a></li>
                            <li><a href="#/region-of-accident"><i class="fa fa-circle-o"></i>Accident By Marketing & Sales</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a>
                            <i class="fa fa-circle-o"></i>Report Per Modul
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#/report-ccf"><i class="fa fa-circle-o"></i>Report Modul CCF</a></li>
                            <li><a href="#/report-ctf"><i class="fa fa-circle-o"></i>Report Modul CTF</a></li>
                            <li><a href="#/report-caf"><i class="fa fa-circle-o"></i>Report Modul CAF</a></li>
                            <li><a href="#/report-csf"><i class="fa fa-circle-o"></i>Report Modul CSF</a></li>
                            <li><a href="#/report-crf"><i class="fa fa-circle-o"></i>Report Modul CRF</a></li>
                            <li><a href="#/report-complaint"><i class="fa fa-circle-o"></i>Report Complaint</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>

