
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>FMS - Fleet Management System</title>
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <!-- Load the site CSS after Boostrap's to override -->
    <link href="~/Content/css/main.min.css" rel="stylesheet" media="screen" />
    <!-- Load Font Awesome CSS -->

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body class="main-page">
    <div class="excise-site main-menu">
        <div class="main-header authorize">
            <div class="main-logo">
                <img src="~/Content/assets/images/logo-large.png" alt="">
            </div>
            <div class="error-page">
                <h2>
                    You don't have access to this application
                </h2>
                <h3>
                    Please contact to your EMS Administrator.
                </h3>
                @*<br/>
                <button class="btn btn-default" onclick="window.location.href = '@Url.Action("Index", "Home")'">Back To Home</button>*@
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    © 2015 Excise Management System. PT HM Sampoerna, Tbk
                </div>
            </div>
        </div>
    </footer>
    <!-- Load custom.js -->
    <script src="~/Scripts/jquery-2.1.4.js"></script>

    <script src="~/Scripts/js/scripts.min.js"></script>
    <script src="~/Scripts/js/vendors/jquery.fixedheadertable.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/js/vendors/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>

