USE [FMS]
GO
/****** Object:  Table [dbo].[LOGIN_FOR_VTI]    Script Date: 31/10/2017 12:24:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_FOR_VTI](
	[AD_GROUP] [nvarchar](250) NULL,
	[EMPLOYEE_ID] [nvarchar](9) NULL,
	[LOGIN] [nvarchar](50) NULL,
	[DISPLAY_NAME] [nvarchar](200) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[LOGIN_FOR_VTI] ([AD_GROUP], [EMPLOYEE_ID], [LOGIN], [DISPLAY_NAME]) VALUES (N'PMI ID UR 3066 OPS FMS ADMINISTRATOR QA IMDL', NULL, N'ywicakso', N'Prasetyo, Yuniar')
INSERT [dbo].[LOGIN_FOR_VTI] ([AD_GROUP], [EMPLOYEE_ID], [LOGIN], [DISPLAY_NAME]) VALUES (N'PMI ID UR 3066 OPS FMS HR QA IMDL', NULL, N'ddani', N'Doni, Dona')
INSERT [dbo].[LOGIN_FOR_VTI] ([AD_GROUP], [EMPLOYEE_ID], [LOGIN], [DISPLAY_NAME]) VALUES (N'PMI ID UR 3066 OPS FMS FLEET QA IMDL', NULL, N'mzdani', N'Dani, Zulfi')
