USE [FMS]
GO
/****** Object:  Table [dbo].[EMAIL_FOR_VTI]    Script Date: 21/11/2017 14:19:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMAIL_FOR_VTI](
	[ID] [nvarchar](50) NULL,
	[FULL_NAME] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](100) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[EMAIL_FOR_VTI] ([ID], [FULL_NAME], [EMAIL]) VALUES (N'ID50493229', N'PMI\ywicakso', N'tyo@indovti.com')
INSERT [dbo].[EMAIL_FOR_VTI] ([ID], [FULL_NAME], [EMAIL]) VALUES (N'ID80009015', N'PMI\ddani', N'tyo2@indovti.com')
INSERT [dbo].[EMAIL_FOR_VTI] ([ID], [FULL_NAME], [EMAIL]) VALUES (N'ID80427294', N'PMI\mzdani', N'tyo3@indovti.com')
