@model FMS.Website.Models.VehicleSpectModel
@using FMS.Core;

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Vehicle Spect Upload</h5>
</div>
<section class="content" ng-controller="MSTCCtrl" ng-init="init()">
    <div class="wpanel">
        @using (Html.BeginForm("Upload", "MstVehicleSpect", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="file" id="upload" name="upload" class="form-control rounded-0 rounded-left" />
                            <span class="input-group-btn">
                                <button type="button" id="btnupload" value="upload" name="upload" class="btn btn-primary rounded-0 rounded-right">Generate</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <table id="example2" class="table table-bordered dataTables table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Manufacturer</th>
                        <th>Model</th>
                        <th>Series</th>
                        <th>Transmisson</th>
                        <th>Body Type</th>
                        <th>Request Year</th>
                        <th>Colour</th>
                        <th>Group Level</th>
                        <th>Flex Point</th>
                    </tr>
                </thead>
                <tbody id="tb-upload-excel"></tbody>
            </table>
            <div class="row mt-2">
                <div class="col-md-12">
                    <button class="btn btn-primary" type="submit" id="btnSave">Save</button>
                    <a href="@Url.Action("Index","MstVehicleSpect")" title="Cancel" class="btn">Cancel</a>
                </div>
            </div>
        }
    </div>
    <!-- /.row -->
</section>

<script type="text/javascript">

    $('#btnSave').prop('disabled', true);

    function createColumn(text) {
        return '<td>' + text + '</td>';
    }
    var uploaditems = [];

    function createColumnWithHiddenField(text, name) {
        return '<td><input type="hidden" name="' + name + '" value="' + text + '">' + text + '</td>';
    }

    function createColumnWithHiddenFieldDecimal(text, name) {
        return '<td><input type="hidden" name="' + name + '" value="' + text + '"><span class="decimal">' + text + '</span></td>';
    }
    $('#btnupload').click(function () {
        uploadXmlFile();
    });

    function uploadXmlFile() {
        var postUrl = '@Url.Action("UploadFile", "MstVehicleSpect")';
        var fileName = $('[name="upload"]').val().trim();
        var pos = fileName.lastIndexOf('.');
        var extension = (pos <= 0) ? '' : fileName.substring(pos);
        if (extension != '.xlsx') {
            alert('Please browse a correct excel file to upload');
            return false;
        }

        var formData = new FormData();
        var totalFiles = document.getElementById("upload").files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("upload").files[i];
            formData.append("upload", file);
        }
        $.ajax({
            type: "POST",
            url: postUrl,
            data: formData,
            dataType: 'html',
            contentType: false,
            processData: false,

            success: function (response) {
                $('#tb-upload-excel').html('');
                uploaditems = JSON.parse(response);
                var error = "";
                for (var i = 0; i < uploaditems.length; i++) {
                    var tr = '<tr>' +
                createColumn(i + 1) +
                createColumnWithHiddenField(uploaditems[i].Manufacturer, 'Model.Details[' + i + '].Manufacturer') +
                createColumnWithHiddenField(uploaditems[i].Models, 'Model.Details[' + i + '].Models') +
                createColumnWithHiddenField(uploaditems[i].Series, 'Model.Details[' + i + '].Series') +
                createColumnWithHiddenField(uploaditems[i].Transmission, 'Model.Details[' + i + '].Transmission') +
                createColumnWithHiddenField(uploaditems[i].BodyType, 'Model.Details[' + i + '].BodyType') +
                createColumnWithHiddenField(uploaditems[i].Year, 'Model.Details[' + i + '].Year') +
                createColumnWithHiddenField(uploaditems[i].Colour, 'Model.Details[' + i + '].Colour') +
                createColumnWithHiddenField(uploaditems[i].GroupLevel, 'Model.Details[' + i + '].GroupLevel') +
                createColumnWithHiddenField(uploaditems[i].FlexPoint, 'Model.Details[' + i + '].FlexPoint') +
                '</tr>';
                    $('#tb-upload-excel').append(tr);
                    error += uploaditems[i].Message;
                }
               $('#btnSave').prop('disabled', false);
            }
        });
    };
</script>

