@using FMS.Core;
@model FMS.Website.Models.VendorItem

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Vendor Create</h5>
</div>
<section class="content">
    <div class="wpanel">
    @using (Html.BeginForm("Create", "MstVendor"))
    {
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Vendor Name<span class="red">*</span></label>
                    @Html.TextBoxFor(model => model.VendorName, new { @class = "form-control ",  required = "required" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Short Name<span class="red">*</span></label>
                    @Html.TextBoxFor(model => model.ShortName, new { @class = "form-control ", required = "required" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Email Address<span class="red">*</span></label>
                    @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control ", required = "required" })
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href="@Url.Action("Index", "MstVendor" )" class="btn btn-default">Back</a>
            </div>
        </div>
    }
    </div>
</section>
