<!-- Main content -->
<section class="content-header">
    <h1>
        Master Data Penalty
    </h1>
</section>
<section class="content" ng-init="MSTPNCtrl.init()">

    <div class="row">

        <div class="col-xs-12" style=" ">
            <div class="box" style="overflow-y: auto;" ">

                <!-- /.box-header -->
                <div class="box-body">
                    <a class="btn bg-blue" ng-click="MSTPNCtrl.uploadVen()"><i class="glyphicon glyphicon-upload"></i></a>
                    <a class="btn bg-blue" ng-click="MSTPNCtrl.toExcel('#example2')"><i class="fa fa-file-excel-o"></i></a>

                    <table id="example2" class="table table-bordered table-striped">
                        <thead>

                            <tr>
                                <th>Action</th>
                                <th>Manufacturer</th>
                                <th>Model</th>
                                <th>Series</th>
                                <th>Vehicle Year</th>
                                <th>Month Start</th>
                                <th>Month End</th>
                              
                                <th>Vehicle Type</th>
                                <th>Vendor</th>
                                <th>Logic</th>
                                <th>Last Modified</th>
                                <th>Modified By</th>

                            </tr>
                        </thead>

                        <tr>
                            <td><a class="btn bg-blue" ng-click="MSTPNCtrl.inspricelist()"><i class="glyphicon glyphicon-plus"></i> New</a></td>
                            <td><input ng-change="MSTPNCtrl.search()" ng-model="MSTPNCtrl.man" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="MSTPNCtrl.search()" ng-model="MSTPNCtrl.mod" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="MSTPNCtrl.search()" ng-model="MSTPNCtrl.ser" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="MSTPNCtrl.search()" ng-model="MSTPNCtrl.vehyear" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="MSTPNCtrl.search()" ng-model="MSTPNCtrl.monthstart" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="MSTPNCtrl.search()" ng-model="MSTPNCtrl.monthend" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            
                            <td><input ng-change="MSTPNCtrl.search()" ng-model="MSTPNCtrl.vcty" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="MSTPNCtrl.search()" ng-model="MSTPNCtrl.vendor" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="MSTPNCtrl.search()" ng-model="MSTPNCtrl.logic" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="MSTPNCtrl.search()" ng-model="MSTPNCtrl.last" readonly style="background-color: #ffffff;border-radius: 7px; text-align: center;" type="text" placeholder="search" uib-datepicker-popup="dd-MMM-yyyy" close-text="Tutup" is-open="MSTPNCtrl.isCalendarOpened[1]" ng-click="MSTPNCtrl.openCalendar(1)"></td>
                            <td><input ng-change="MSTPNCtrl.search()" ng-model="MSTPNCtrl.modif" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                        </tr>
                        <tbody>
                            <tr ng-repeat="data in MSTPNCtrl.datapricelist">
                                <td style="text-align: center;">
                                    <a class="glyphicon glyphicon-edit" ng-click="MSTPNCtrl.updpricelist(data)"></a>
                                    <a ng-if="data.is_active == 1"><i sweetalert sweet-options="{title: 'Are you sure?',text: 'You Want To Deactivate This Data?!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes!',cancelButtonText: 'No!'}" sweet-on-cancel="" sweet-on-confirm="MSTPNCtrl.delpricelist(data.penalty_id)" class="glyphicon glyphicon-remove-sign"></i></a>

                                </td>
                                <td>{{data.manufacturer}}</td>
                                <td>{{data.model}}</td>
                                <td>{{data.series}}</td>
                                <td>{{data.vehicle_year}}</td>
                                <td>{{data.month_start}}</td>
                                <td>{{data.month_end}}</td>
                                
                                <td>{{data.vehicle_type}}</td>
                                <td>{{data.vendor}}</td>
                                <td>{{data.logic}}</td>
                                <td>{{MSTPNCtrl.dateFormat(data.modified_date)}}</td>
                                <td>{{data.modified_by}}</td>
                            </tr>
                            <tr ng-if="MSTPNCtrl.datapricelist.length<1">
                                <td colspan="12">No Data Found</td>
                            </tr>

                        </tbody>

                    </table>
                    <div >
                        <ul uib-pagination boundary-links="true" total-items="MSTPNCtrl.totalRecords" max-size="5" ng-model="MSTPNCtrl.off" class="pagination pull-left" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="MSTPNCtrl.paging(MSTPNCtrl.off)"></ul>

                        <br />
                        <label class="pull-right">{{'TOTAL RECORDS' | translate}} : {{MSTPNCtrl.totalRecords}}</label>
                    </div>
                </div>


                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
    </div>
    <!-- /.row -->
</section>

<!-- /.content -->
<script type="text/ng-template" id="insVhcs.html">
    <div class="modal-header">
        <button sweetalert sweet-options="{title: 'Are you sure?',text: 'You Want To Cancel Insert Data?!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes!',cancelButtonText: 'No!'}" sweet-on-cancel="" sweet-on-confirm="batal()" type="button" class="close"><span aria-hidden="true">&times;</span></button>        
        <h3 class="modal-title">Insert Penalty</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-y: auto;">
                    <div class="box-body">
                        <div>
                            <form class="form-horizontal">

                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Manufacturer</label>

                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="vcus" ng-change="cekmanufacturer(vcus)">
                                            <option ng-repeat="v in vehspec" value="{{v.manufacturer}}">{{v.manufacturer}}</option>
                                            <option style="display:none;"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Model</label>

                                   
                                        <div class="col-sm-10">
                                            <select class="form-control" ng-model="mod" ng-change="cekmodel(mod)">
                                                <option ng-repeat="m in datamanufacturer" value="{{m.model}}">{{m.model}}</option>
                                                <option style="display:none;"></option>
                                            </select>
                                        </div>
                                   
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Series</label>

                                    
                                        <div class="col-sm-10">
                                            <select class="form-control" ng-model="series" ng-change="cekseries(series)">
                                                <option ng-repeat="z in datamodel" value="{{z.series}}">{{z.series}}</option>
                                                <option style="display:none;"></option>
                                            </select>
                                        </div>
                                    
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Vehicle Year</label>

                                    <div class="col-sm-10">
                                        <input type="number" required class="form-control" id="" placeholder="Vehicle Year" ng-model="vehyear">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Month Start</label>

                                    <div class="col-sm-10">
                                        <input type="number" required class="form-control" id="" placeholder="Month Start" ng-model="months">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Month End</label>

                                    <div class="col-sm-10">
                                        <input type="number" required class="form-control" id="" placeholder="Month End" ng-model="monthe">
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Vehicle Type</label>

                                  
                                        <div class="col-sm-10">
                                            <select ng-model="vcty" class="form-control" ng-change="cekvehty(vcty)">
                                                <option style="display:none;"></option>
                                                <option ng-repeat="vc in datavhct" value="{{vc.vehicle_type1}}">{{vc.vehicle_type1}}</option>
                                                <option style="display:none;"></option>

                                            </select>
                                        </div>
                                   
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Vendor</label>


                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="vendor">
                                            <option ng-repeat="z in namealias" value="{{z.name_alias}}">{{z.name_alias}}</option>
                                            <option style="display:none;"></option>
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Logic</label>


                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="logic">
                                            <option ng-repeat="z in logics" value="{{z.logic}}">{{z.logic}}</option>
                                            <option style="display:none;"></option>
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group" ng-if="MSTPLCtrl.roles == SYSTEM.ROLE_ADMIN && check == false">
                                    <label for="inputPassword3" class="col-sm-2 control-label">IS Active</label>

                                    <div class="col-sm-10">
                                        <input type="checkbox" ng-model="check" class="tes" value="{{check}}">
                                    </div>
                                </div>



                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button sweetalert sweet-options="{title: 'Are you sure?',text: 'You Want To Cancel Insert Data?!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes!',cancelButtonText: 'No!'}" sweet-on-cancel="" sweet-on-confirm="batal()" type="button" class="btn btn-default">Cancel</button>
                        <button type="button" ng-click="insert()" class="btn btn-primary" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="updVhcs.html">
    <div class="modal-header">
        <button sweetalert sweet-options="{title: 'Are you sure?',text: 'You Want To Cancel Update Data?!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes!',cancelButtonText: 'No!'}" sweet-on-cancel="" sweet-on-confirm="batal()" type="button" class="close"><span aria-hidden="true">&times;</span></button>        
        <h3 class="modal-title">Update Penalty</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-y: auto;">
                    <div class="box-body">
                        <div>
                            <form class="form-horizontal">

                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Manufacturer</label>

                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="vcus" ng-change="cekmanufacturer(vcus)">
                                            <option ng-repeat="v in vehspec"  ng-if="v.manufacturer != vcus" value="{{v.manufacturer}}">{{v.manufacturer}}</option>
                                            <option ng-repeat="v in vehspec" ng-if="v.manufacturer == vcus" selected value="{{v.manufacturer}}">{{v.manufacturer}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Model</label>

                                   
                                        <div class="col-sm-10">
                                            <select class="form-control" ng-model="mod" ng-change="cekmodel(mod)">
                                                <option ng-repeat="m in datamanufacturer" ng-if="m.model != mod" value="{{m.model}}">{{m.model}}</option>
                                                <option ng-repeat="m in datamanufacturer" ng-if="m.model == mod" selected value="{{m.model}}">{{m.model}}</option>
                                                <option style="display:none;"></option>
                                            </select>
                                        </div>
                                   
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Series</label>

                                    
                                        <div class="col-sm-10">
                                            <select class="form-control" ng-model="series" ng-change="cekseries(series)">
                                                <option ng-repeat="z in datamodel" ng-if="z.series !=series" value="{{z.series}}">{{z.series}}</option>
                                                <option ng-repeat="z in datamodel" ng-if="z.series ==series" value="{{z.series}}" selected>{{z.series}}</option>
                                                <option style="display:none;"></option>
                                            </select>
                                        </div>
                                    
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Vehicle Year</label>

                                    <div class="col-sm-10">
                                        <input type="number" required class="form-control" id="" placeholder="Vehicle Year" ng-model="vehyear">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Month Start</label>

                                    <div class="col-sm-10">
                                        <input type="number" required class="form-control" id="" placeholder="Month Start" ng-model="months">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Month End</label>

                                    <div class="col-sm-10">
                                        <input type="number" required class="form-control" id="" placeholder="Month End" ng-model="monthe">
                                    </div>
                                </div>
                            
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Vehicle Type</label>

                                   
                                        <div class="col-sm-10">
                                            <select ng-model="vcty" class="form-control" ng-change="cekvehty(vcty)">
                                                <option style="display:none;"></option>
                                                <option ng-repeat="vc in datavhct" ng-if="vc.vehicle_type1 != vcty" value="{{vc.vehicle_type1}}">{{vc.vehicle_type1}}</option>
                                                <option ng-repeat="vc in datavhct" ng-if="vc.vehicle_type1 == vcty" value="{{vc.vehicle_type1}}" selected>{{vc.vehicle_type1}}</option>
                                               

                                            </select>
                                        </div>
                                    
                                </div>
                                
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Vendor</label>


                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="vendor">
                                            <option ng-repeat="z in namealias" ng-if="z.name_alias != vendor" value="{{z.name_alias}}">{{z.name_alias}}</option>
                                            <option ng-repeat="z in namealias" ng-if="z.name_alias == vendor" value="{{z.name_alias}}" selected>{{z.name_alias}}</option>
                                            <option style="display:none;"></option>
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Logic</label>


                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="logic">
                                            <option ng-repeat="z in logics" ng-if="z.logic != logic" value="{{z.penalty_logic_id}}">{{z.logic}}</option>
                                            <option ng-repeat="z in logics" ng-if="z.logic == logic" value="{{z.penalty_logic_id}}" selected>{{z.logic}}</option>
                                            <option style="display:none;"></option>
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group" ng-if="MSTPLCtrl.roles == SYSTEM.ROLE_ADMIN && check == false">
                                    <label for="inputPassword3" class="col-sm-2 control-label">IS Active</label>

                                    <div class="col-sm-10">
                                        <input type="checkbox" ng-model="check" class="tes" value="{{check}}">
                                    </div>
                                </div>



                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button sweetalert sweet-options="{title: 'Are you sure?',text: 'You Want To Cancel Update Data?!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes!',cancelButtonText: 'No!'}" sweet-on-cancel="" sweet-on-confirm="batal()" type="button" class="btn btn-default">Cancel</button>
                        <button type="button" ng-click="update()" class="btn btn-primary" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="uploadCAF.html">
    <div class="modal-content">
        <div class="modal-header">
            <button sweetalert sweet-options="{title: 'Are you sure?',text: 'You Want To Cancel Excel Upload?!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes!',cancelButtonText: 'No!'}" sweet-on-cancel="" sweet-on-confirm="batal()" type="button" class="close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Upload Penalty</h4>
        </div>
        <div class="input-group">
            <input type="file" class="form-control" ng-model="filecaf" ng-file-select="select(filecaf)" accept=".xls,.xlsx" />
            <div class="input-group-btn">
                <button ng-disabled="!filecaf" class="btn btn-success" ng-click="uploadFile()">Upload</button>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="box" style="overflow-y: auto;">
                        <div class="box-body">
                            <h4>Preview of Uploaded File</h4>
                            <table id="example1" class="table table-bordered table-striped" datatable="ng" dt-options="dtOpt">
                                <thead>

                                    <tr>
                                        <th>Manufacturer</th>
                                        <th>Model</th>
                                        <th>Series</th>
                                        <th>Vehicle Year</th>
                                        <th>Month Start</th>
                                        <th>Month End</th>
                                        
                                        <th>Vehicle Type</th>
                                        <th>Vendor</th>
                                        <th>Logic</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="caf in data | filter:search:data">
                                        <td><center>{{caf.manufacturer}}</center></td>
                                        <td><center>{{caf.model}}</center></td>
                                        <td><center>{{caf.series}}</center></td>
                                        <td><center>{{caf.vehicle_year}}</center></td>
                                        <td><center>{{caf.month_start}}</center></td>
                                        <td><center>{{caf.month_end}}</center></td>
                                       
                                        <td><center>{{caf.vehicle_type}}</center></td>
                                        <td><center>{{caf.vendor}}</center></td>
                                        <td><center>{{caf.logic_id}}</center></td>
                                        

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button sweetalert sweet-options="{title: 'Are you sure?',text: 'You Want To Cancel Excel Upload?!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes!',cancelButtonText: 'No!'}" sweet-on-cancel="" sweet-on-confirm="batal()" type="button" class="btn btn-default">Cancel</button>
            <button ng-disabled="data.length < 1" type="button" class="btn btn-primary" ng-click="simpan()" data-dismiss="modal">Submit</button>
        </div>
    </div>
</script>

