<div class="modal-content" ng-init="FormBuildingCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="FormBuildingCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font">Data Bangunan dan Infrastruktur   </h3>
    </div>
    <div class="modal-body" >
        <div class="row" style="padding-top: 20px!important;">
            <div class="col-md-12 col-sm-12 center-block" style="float: none!important;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Kategori</label>
                            <select class="form-control input-sm" required ng-model="FormBuildingCtrl.selectedCategory"
                                ng-options="item as item.Value for item in FormBuildingCtrl.listCategory"
                                >
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Luas(M<sup>2</sup>)</label>
                            <input type="text" class="form-control" required ng-model="FormBuildingCtrl.dataBuilding.BuildingArea" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Status Kepemilikan *</label>
                            <select class="form-control input-sm" required ng-model="FormBuildingCtrl.selectedKepemilikan"
                                    ng-options="item as item.Value for item in FormBuildingCtrl.listKepemilikan">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Alamat</label>
                            <input type="text" class="form-control" required placeholder="Alamat"
                                   ng-model="FormBuildingCtrl.dataBuilding.Address" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Provinsi</label>
                            <select class="form-control input-sm" required ng-model="FormBuildingCtrl.selectedProvince"
                                    ng-options="item as item.Name for item in FormBuildingCtrl.listProvinsi"
                                    ng-change="FormBuildingCtrl.changeProvince()"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Kabupaten</label>
                            <select class="form-control input-sm" required ng-model="FormBuildingCtrl.selectedKabupaten"
                                    ng-options="item as item.Name for item in FormBuildingCtrl.listKabupaten"
                                    ng-change="FormBuildingCtrl.changeCities()">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Kecamatan</label>
                            <select class="form-control input-sm" required ng-model="FormBuildingCtrl.selectedKecamatan"
                                    ng-options="item as item.Name for item in FormBuildingCtrl.listKecamatan"
                                    >
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="FormBuildingCtrl.batal()" class="btn btn-flat btn-danger" title="Batal"><i class="fa fa-reply"></i>&nbsp;</button>
        <button type="button" ng-click="FormBuildingCtrl.saveData()" class="btn btn-flat btn-success" title="Simpan"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</div>