@model FMS.Website.Models.LoginFormModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Index", "Login", null, FormMethod.Post, new { @class = "form-excise", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <label class="col-md-3">Username</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(x => x.Login.UserId, Model.Users, "select", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Login.UserId)
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <button class="btn btn-blue full">LOGIN</button>
                </div>
            </div>
        }
    </div>
</body>
</html>
