<!-- Main content -->
<section class="content" ng-init="MSTPLCtrl.init()">
    <section class="content-header">
        <h1>
            Master Data Pricelist
        </h1>
    </section>
    <div class="row">

        <div class="col-xs-12" style=" ">
            <div class="box" style="overflow-y: auto;" ">

                <!-- /.box-header -->
                <div class="box-body">
                    <a class="btn  bg-blue" ng-click="MSTPLCtrl.uploadVen()"><i class="glyphicon glyphicon-upload"></i></a>
                    <a class="btn  bg-blue" ng-click="MSTPLCtrl.toExcel('#example2')"><i class="fa fa-file-excel-o"></i></a>

                    <table id="example2" class="table table-bordered table-striped">
                        <thead >

                            <tr>
                                <th>Action</th>
                                <th>Manufacturer</th>
                                <th>Model</th>
                                <th>Series</th>
                                <th>Color</th>
                                <th>Zone Name</th>
                                <th>Vehicle Year</th>
                                <th>Price</th>
                                <th>Installment HMS</th>
                                <th>Installment Employee</th>
                                <th>Vehicle Type</th>
                                <th>Vehicle Usage</th>
                                <th>Last Modified</th>
                                <th>Modified By</th>

                            </tr>
                        </thead>

                        <tr>
                            <td><a class="btn bg-blue" ng-click="MSTPLCtrl.inspricelist()"><i class="glyphicon glyphicon-plus" ></i> New</a></td>
                            <td><input ng-change="MSTPLCtrl.search()" ng-model="MSTPLCtrl.man" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="MSTPLCtrl.search()" ng-model="MSTPLCtrl.mod" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="MSTPLCtrl.search()" ng-model="MSTPLCtrl.ser" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="MSTPLCtrl.search()" ng-model="MSTPLCtrl.col" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="MSTPLCtrl.search()" ng-model="MSTPLCtrl.zone" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="MSTPLCtrl.search()" ng-model="MSTPLCtrl.vehyear" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="MSTPLCtrl.search()" ng-model="MSTPLCtrl.price" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="MSTPLCtrl.search()" ng-model="MSTPLCtrl.inshms" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="MSTPLCtrl.search()" ng-model="MSTPLCtrl.insemp" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="MSTPLCtrl.search()" ng-model="MSTPLCtrl.vehtype" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="MSTPLCtrl.search()" ng-model="MSTPLCtrl.vehusage" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                            <td><input ng-change="MSTPLCtrl.search()" ng-model="MSTPLCtrl.last" readonly style="background-color: #ffffff;border-radius: 7px; text-align: center;" type="text" placeholder="search" uib-datepicker-popup="dd-MMM-yyyy" close-text="Tutup" is-open="MSTPLCtrl.isCalendarOpened[1]" ng-click="MSTPLCtrl.openCalendar(1)"></td>
                            <td><input ng-change="MSTPLCtrl.search()" ng-model="MSTPLCtrl.modif" style="border-radius: 7px; text-align: center;" type="text" placeholder="search"></td>
                        </tr>
                        <tbody>
                            <tr ng-repeat="data in MSTPLCtrl.datapricelist">
                                <td style="text-align: center;">
                                    <a class="glyphicon glyphicon-edit" ng-click="MSTPLCtrl.updpricelist(data)"></a>
                                    <a ng-if="data.is_active == 1"><i sweetalert sweet-options="{title: 'Are you sure?',text: 'You Want To Deactivate This Data?!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes!',cancelButtonText: 'No!'}" sweet-on-cancel="" sweet-on-confirm="MSTPLCtrl.delpricelist(data.pricelist_id)" class="glyphicon glyphicon-remove-sign"></i></a>
                                   
                                </td>
                                <td>{{data.manufacturer}}</td>
                                <td>{{data.model}}</td>
                                <td>{{data.series}}</td>
                                <td>{{data.color}}</td>
                                <td>{{data.zone_name}}</td>
                                <td>{{data.vehicle_year}}</td>
                                <td>{{data.price}}</td>
                                <td>{{data.installment_hms}}</td>
                                <td>{{data.installment_emp}}</td>
                                <td>{{data.vehicle_type}}</td>
                                <td>{{data.vehicle_usage}}</td>
                                <td>{{MSTPLCtrl.dateFormat(data.last_modified)}}</td>
                                <td>{{data.modified_by}}</td>
                            </tr>
                            <tr ng-if="MSTPLCtrl.datapricelist.length<1">
                                <td colspan="12">No Data Found</td>
                            </tr>

                        </tbody>

                    </table>
                    <div>
                        <ul uib-pagination boundary-links="true" total-items="MSTPLCtrl.totalRecords" max-size="5" ng-model="MSTPLCtrl.off" class="pagination pull-left" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="MSTPLCtrl.paging(MSTPLCtrl.off)"></ul>

                        <br />
                        <label class="pull-right">{{'TOTAL RECORDS' | translate}} : {{MSTPLCtrl.totalRecords}}</label>
                    </div>
                </div>


                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
    </div>
    <!-- /.row -->
</section>

<!-- /.content -->
<script type="text/ng-template" id="insVhcs.html">
    <div class="modal-header">
        <button sweetalert sweet-options="{title: 'Are you sure?',text: 'You Want To Cancel Insert Data?!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes!',cancelButtonText: 'No!'}" sweet-on-cancel="" sweet-on-confirm="batal()" type="button" class="close"><span aria-hidden="true">&times;</span></button>        
        <h3 class="modal-title">Insert Pricelist</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-y: auto;">
                    <div class="box-body">
                        <div>
                            <form class="form-horizontal">

                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Manufacturer</label>

                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="vcus" ng-change="cekmanufacturer(vcus)">
                                            <option ng-repeat="v in vehspec" value="{{v.manufacturer}}">{{v.manufacturer}}</option>
                                            <option style="display:none;"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Model</label>

                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="mod" ng-change="cekmodel(mod)">
                                            <option ng-repeat="m in datamanufacturer" value="{{m.model}}">{{m.model}}</option>
                                            <option style="display:none;"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Series</label>

                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="series" ng-change="cekseries(series)">
                                            <option ng-repeat="z in datamodel" value="{{z.series}}">{{z.series}}</option>
                                            <option style="display:none;"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Color</label>

                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="color">
                                            <option ng-repeat="zx in dataseries" value="{{zx.vehicle_specs_id}}">{{zx.color}}</option>
                                            <option style="display:none;"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Zone</label>

                                    <div class="col-sm-10">
                                        <select ng-model="thn" class="form-control" >
                                            <option style="display:none;"></option>
                                            <option ng-repeat="k in location" value="{{k.zone_id}}">{{k.zone1}}</option>
                                            <option style="display:none;"></option>

                                        </select>
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Vehicle Type</label>

                                    <div class="col-sm-10">
                                        <select ng-model="vcty" class="form-control" ng-change="cekvehty(vcty)">
                                            <option style="display:none;"></option>
                                            <option ng-repeat="vc in datavhct" value="{{vc.vehicle_type1}}">{{vc.vehicle_type1}}</option>
                                            <option style="display:none;"></option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Vehicle Usage</label>

                                    <div class="col-sm-10">
                                        <select ng-model="vuz" class="form-control">
                                            <option style="display:none;"></option>
                                            <option ng-repeat="vus in cekve" value="{{vus.vehicle_type_id}}">{{vus.vehicle_usage}}</option>
                                            <option style="display:none;"></option>

                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Vehicle Year</label>

                                    <div class="col-sm-10">
                                        <input type="number" required class="form-control" id="" placeholder="Vehicle Year" ng-model="vcy">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Price</label>

                                    <div class="col-sm-10">
                                        <input type="number" required class="form-control" id="" placeholder="Price" ng-model="price">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Installment HMS</label>

                                    <div class="col-sm-10">
                                        <input type="number" required class="form-control" id="" placeholder="Installment HMS" ng-model="ihms">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Installment Emp</label>

                                    <div class="col-sm-10">
                                        <input type="number" required class="form-control" id="" placeholder="Installment Emp" ng-model="iemp">
                                    </div>
                                </div>
                               



                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button sweetalert sweet-options="{title: 'Are you sure?',text: 'You Want To Cancel Insert Data?!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes!',cancelButtonText: 'No!'}" sweet-on-cancel="" sweet-on-confirm="batal()" type="button" class="btn btn-default">Cancel</button>
                        <button type="button" ng-click="insert()" class="btn btn-primary" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="updVhcs.html">
    <div class="modal-header">
        <button sweetalert sweet-options="{title: 'Are you sure?',text: 'You Want To Cancel Update Data?!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes!',cancelButtonText: 'No!'}" sweet-on-cancel="" sweet-on-confirm="batal()" type="button" class="close"><span aria-hidden="true">&times;</span></button>        
        <h3 class="modal-title">Update Pricelist</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-y: auto;">
                    <div class="box-body">
                        <div>
                            <form class="form-horizontal">

                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Manufacturer</label>

                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="vcus" ng-change="cekmanufacturer(vcus)">
                                            <option ng-repeat="v in vehspec" ng-if="v.manufacturer != vcus" value="{{v.manufacturer}}">{{v.manufacturer}}</option>
                                            <option  ng-repeat="v in vehspec" ng-if="v.manufacturer == vcus" value="{{v.manufacturer}}" selected>{{v.manufacturer}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Model</label>

                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="mod" ng-change="cekmodel(mod)">
                                            <option ng-repeat="m in datamanufacturer" ng-if="m.model != mod" value="{{m.model}}">{{m.model}}</option>
                                            <option  ng-repeat="m in datamanufacturer" ng-if="m.model == mod" value="{{m.model}}" selected>{{m.model}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Series</label>

                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="series" ng-change="cekseries(series)">
                                            <option ng-repeat="z in datamodel" ng-if="z.series != series" value="{{z.series}}">{{z.series}}</option>
                                            <option ng-repeat="z in datamodel" ng-if="z.series == series" value="{{z.series}}" selected>{{z.series}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Color</label>

                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="specs_id">
                                            <option ng-repeat="zx in dataseries" ng-if="zx.color != color" value="{{zx.vehicle_specs_id}}">{{zx.color}}</option>
                                            <option ng-repeat="zx in dataseries" ng-if="zx.color == color" value="{{zx.vehicle_specs_id}}" selected>{{zx.color}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Zone</label>

                                    <div class="col-sm-10">
                                        <select ng-model="Zname" class="form-control">
                                         
                                            <option ng-repeat="k in location" ng-if="k.zone1 != thn" value="{{k.zone_id}}">{{k.zone1}}</option>
                                            <option ng-repeat="k in location" ng-if="k.zone1 == thn" value="{{k.zone_id}}" selected>{{k.zone1}}</option>

                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Vehicle Type</label>

                                    <div class="col-sm-10">
                                        <select ng-model="vcty" class="form-control" ng-change="cekvehty(vcty)">
                                         
                                            <option ng-repeat="vc in datavhct" ng-if="vc.vehicle_type1 != vcty" value="{{vc.vehicle_type1}}">{{vc.vehicle_type1}}</option>
                                            <option ng-repeat="vc in datavhct" ng-if="vc.vehicle_type1 == vcty" value="{{vc.vehicle_type1}}" selected>{{vc.vehicle_type1}}</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Vehicle Usage</label>

                                    <div class="col-sm-10">
                                        <select ng-model="type_id" class="form-control">
                                            
                                            <option ng-repeat="vus in cekve" ng-if="vus.vehicle_usage != vuz" value="{{vus.vehicle_type_id}}">{{vus.vehicle_usage}}</option>
                                            <option ng-repeat="vus in cekve" ng-if="vus.vehicle_usage == vuz" value="{{vus.vehicle_type_id}}" selected>{{vus.vehicle_usage}}</option>
                                            

                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Vehicle Year</label>

                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="" placeholder="Vehicle Year" ng-model="vcy">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Price</label>

                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="" placeholder="Price" ng-model="price">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Installment HMS</label>

                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="" placeholder="Installment HMS" ng-model="ihms">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Installment Emp</label>

                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="" placeholder="Installment Emp" ng-model="iemp">
                                    </div>
                                </div>
                                <div class="form-group" ng-if="MSTPLCtrl.roles == SYSTEM.ROLE_ADMIN && check == false">
                                    <label for="inputPassword3" class="col-sm-2 control-label">IS Active</label>

                                    <div class="col-sm-10">
                                        <input type="checkbox" ng-model="check" class="tes" value="{{check}}">
                                    </div>
                                </div>




                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button sweetalert sweet-options="{title: 'Are you sure?',text: 'You Want To Cancel Update Data?!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes!',cancelButtonText: 'No!'}" sweet-on-cancel="" sweet-on-confirm="batal()" type="button" class="btn btn-default">Cancel</button>
                        <button type="button" ng-click="update()" class="btn btn-primary" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="uploadCAF.html">
    <div class="modal-content">
        <div class="modal-header">
            <button sweetalert sweet-options="{title: 'Are you sure?',text: 'You Want To Cancel Excel Upload?!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes!',cancelButtonText: 'No!'}" sweet-on-cancel="" sweet-on-confirm="batal()" type="button" class="close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Upload Pricelist</h4>
        </div>
        <div class="input-group">
            <input type="file" class="form-control" ng-model="filecaf" ng-file-select="select(filecaf)" accept=".xls,.xlsx" />
            <div class="input-group-btn">
                <button ng-disabled="!filecaf" class="btn btn-success" ng-click="uploadFile()">Upload</button>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="box" style="overflow-y: auto;">
                        <div class="box-body">
                            <h4>Preview of Uploaded File</h4>
                            <table id="example1" class="table table-bordered table-striped" datatable="ng" dt-options="dtOpt">
                                <thead>

                                    <tr>
                                        <th>Manufacturer</th>
                                        <th>Model</th>
                                        <th>Series</th>
                                        <th>Color</th>
                                        <th>Zone Name</th>
                                        <th>Vehicle Year</th>
                                        <th>Price</th>
                                        <th>Installment HMS</th>
                                        <th>Installment Employee</th>
                                        <th>Vehicle Type</th>
                                        <th>Vehicle Usage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="caf in data | filter:search:data">
                                        <td><center>{{caf.manufacturer}}</center></td>
                                        <td><center>{{caf.model}}</center></td>
                                        <td><center>{{caf.series}}</center></td>
                                        <td><center>{{caf.color}}</center></td>
                                        <td><center>{{caf.zone}}</center></td>
                                        <td><center>{{caf.vehicle_year}}</center></td>
                                        <td><center>{{caf.pricelist}}</center></td>
                                        <td><center>{{caf.installmentHMS}}</center></td>
                                        <td><center>{{caf.installmentEMP}}</center></td>
                                        <td><center>{{caf.vehicle_type}}</center></td>
                                        <td><center>{{caf.vehicle_usage}}</center></td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button sweetalert sweet-options="{title: 'Are you sure?',text: 'You Want To Cancel Excel Upload?!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes!',cancelButtonText: 'No!'}" sweet-on-cancel="" sweet-on-confirm="batal()" type="button" class="btn btn-default">Cancel</button>
            <button ng-disabled="data.length < 1" type="button" class="btn btn-primary" ng-click="simpan()" data-dismiss="modal">Submit</button>
        </div>
    </div>
</script>

